@model IEnumerable<prjRehabilitation.ViewModel.CAdminViewModel>

@{
    ViewData["Title"] = "List";
}
<style>
 a{
        color:blue;
        font-family: 標楷體;
 }
</style>
<h1>List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                序號
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FPassword)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FRank)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fphoto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FSex)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FBirth)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int count = 0;
            foreach (var item in Model) {
                count++;
        <tr>
            <td>
                @count
            </td>
            <td>
                    @{
                        if (item.Fphoto != null)
                        {
                            <img src="~/images/@item.Fphoto" width="100" height="100" />
                        }
                        else
                        {
                           <img src="~/images/imageDefault.png" width="100" height="100" />
                        }
                    }
                @Html.DisplayFor(modelItem => item.FName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FPassword)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FRank)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FSex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FBirth)
            </td>
            <td>
                @Html.ActionLink("編輯", "Edit", new {  id=item.Fid  }) 
                @Html.ActionLink("刪除", "Delete", new {  id=item.Fid  })
            </td>
        </tr>
}
}
    </tbody>
</table>
