@using Commerce
@using Commerce.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
}

@{
        ViewData["Title"] = "Home Page";
    }

    <h1>金流串接中</h1>
    <div class="card" id="app">
                    @*<label class="form-label">付款選項</label>*@
                    <select id="PayOption" class="form-control" name="PayOption" v-model="addForm.PayOption">
                        <option value="newbPay">藍新支付</option>
                        <option selected="selected" value="newbPayPeriod">藍新訂閱</option>
                        <option selected="selected" value="ECPay">綠界支付</option>
                        <option selected="selected" value="ECPayPeriod">綠界訂閱</option>
                    </select>
                </div>
                <div class="col-md-6">
                    @*<label class="form-label">訂單編號</label>*@
                    <input type="hidden" class="form-control" id="MerchantOrderNo" v-model="addForm.MerchantOrderNo">
                </div>
            <div class="row mb-2">
                <div class="col-md-6">
                    @*<label class="form-label">商品說明</label>*@
                <input type="hidden" class="form-control" id="ItemDesc" v-model="addForm.ItemDesc">
                </div>
                <div class="col-md-6">
                    @*<label class="form-label">商品金額</label>*@
                <input type="hidden" class="form-control" id="Amt" v-model="addForm.Amt">
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-md-6">
                    @*<label class="form-label">繳費有效期限</label>*@
                    <input type="hidden" class="form-control" id="ExpireDate" v-model="addForm.ExpireDate">
                </div>
                <div class="col-md-6">
                    @*<label class="form-label">付款人電子信箱</label>*@
                <input type="hidden" class="form-control" id="Email" v-model="addForm.Email">
                </div>
            </div>
            @*v-on = vue的事件繫結*@
            <button type="button" class="btn btn-primary" id="send" v-on:click="SendToNewebPay('VACC')">正在導向綠界支付</button>
    <div id="divContent"></div>
    @section scripts {
            <script src="https://unpkg.com/vue@3"></script>
            <script>
                SendToNewebPay('VACC');
        var addForm={
            MerchantOrderNo: '@ViewData["MerchantOrderNo"]'
            , ItemDesc: '關心康復之家住民手做愛心商品'
            , Amt: '@ViewData["Amt"]'
            , ExpireDate: '@ViewData["ExpireDate"]'
            , PayOption: 'ECPay'
            , Email: 'girl5380@hotmail.com'
            , ReturnURL: `@Url.Content("~/Product/ok")`
        };

        function SendToNewebPay(ChannelID) {
            console.log(ChannelID);
            var self = this;

            // 組合表單資料
            var postData = {};
            postData['ChannelID'] = ChannelID;
            postData['MerchantOrderNo'] = '@ViewData["MerchantOrderNo"]';
            postData['ItemDesc'] = '關心康復之家住民手做愛心商品';
            postData['Amt'] = '@ViewData["Amt"]';
            postData['ExpireDate'] = '@ViewData["ExpireDate"]';
            postData['PayOption'] = 'ECPay';
            postData['Email'] = 'girl5380@hotmail.com';
            postData['ReturnURL'] = `@Url.Content("~/Product/ok")`;


            // 使用 jQuery Ajax 傳送至後端
            $.ajax({
                url: '@Url.Content("~/ECPay/SendToNewebPay")',
                method: 'POST',
                dataType: 'json',
                data: { inModel: postData, __RequestVerificationToken: $('@Html.AntiForgeryToken()').val() },
                success: function (returnObj) {
                    $("#divContent").html(returnObj);
                    $("#payForm").submit();
                },
                error: function (err) {
                    alert(err.status + " " + err.statusText + '\n' + err.responseText);
                }
            });
        }
            const app = Vue.createApp({
                data() {
                    return {
                        // 表單資料
                        addForm: {
                              MerchantOrderNo:  '@ViewData["MerchantOrderNo"]'
                             , ItemDesc: '關心康復之家住民手做愛心商品'
                             , Amt: '@ViewData["Amt"]'
                            , ExpireDate: '@ViewData["ExpireDate"]'
                            , PayOption: 'ECPay'
                        , Email: 'girl5380@hotmail.com'
                        , ReturnURL: `@Url.Content("~/Product/ok")`
                                
                        }
                    }
                }
                , methods: {
                    // 呼叫SendToNewebPay Controller 並取得回傳Form
                    SendToNewebPay(ChannelID) {
                        console.log(ChannelID)
                        var self = this;

                        // 組合表單資料
                        var postData = {};
                        postData['ChannelID'] = ChannelID;
                        postData['MerchantOrderNo'] = self.addForm.MerchantOrderNo;
                        postData['ItemDesc'] = self.addForm.ItemDesc;
                        postData['Amt'] = self.addForm.Amt;
                        postData['ExpireDate'] = self.addForm.ExpireDate;
                        postData['PayOption'] = self.addForm.PayOption;
                        postData['Email'] = self.addForm.Email;
                        postData['ReturnURL'] = `@Url.Content("~/Product/ok")`;

                        // 使用 jQuery Ajax 傳送至後端
                        $.ajax({
                            url: '@Url.Content("~/ECPay/SendToNewebPay")',
                            method: 'POST',
                            dataType: 'json',
                            data: { inModel: postData, __RequestVerificationToken: $('@Html.AntiForgeryToken()').val() },
                            success: function(returnObj) {
                                $("#divContent").html(returnObj);
                                $("#payForm").submit();
                            },
                            error: function(err) {
                                alert(err.status + " " + err.statusText + '\n' + err.responseText);
                            }
                        });
                    },
                    //取得回傳值
                     GetReturn() {

                        var postData = {};
                        var self = this;
                        postData['MerchantOrderNo'] = self.addForm.MerchantOrderNo;
                        postData['Amt'] = self.addForm.Amt;

                        $.ajax({
                        url: '@Url.Content("~/ECPay/GetReturn")',
                            method: 'POST',
                            dataType: 'json',
                            data: { inModel: postData},
                            success: function(returnObj) {
                                console.log(returnObj)
                            },
                            error: function(err) {
                                alert(err.status + " " + err.statusText + '\n' + err.responseText);
                            }
                        });
                    }
                }
            });
            const vm = app.mount('#app');
        </script>
    }