@{

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - prjRehabilitation</title>
    <script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/prjRehabilitation.styles.css" asp-append-version="true" />

    <!-- CSS here -->
    @*<link rel="stylesheet" href="~/css/owl.carousel.min.css">*@
    <link rel="stylesheet" href="~/css/slicknav.css">
    <link rel="stylesheet" href="~/css/flaticon.css">
    @* <link rel="stylesheet" href="~/css/gijgo.css">*@
    <link rel="stylesheet" href="~/css/animate.min.css">
    @*<link rel="stylesheet" href="~/css/magnific-popup.css">*@
    @*<link rel="stylesheet" href="~/css/fontawesome-all.min.css">*@
    <link rel="stylesheet" href="~/css/font-awesome.min.css>
    <link rel="stylesheet" href="~/css/themify-icons.css">
    <link rel="stylesheet" href="~/css/slick.css">
    @* <link rel="stylesheet" href="~/css/nice-select.css">*@
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/main.css">
    @* <link rel="stylesheet" href="~/css/nice-select.css">
    <link rel="stylesheet" href="~/css/price_rangs.css">
    <link rel="stylesheet" href="~/css/responsive.css">*@
    @await RenderSectionAsync("Styles", required: false)
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <style>
        #shippingmsgText {
            height: 100px;
            width: 200px;
            text-align: center;
            color: #4D0000;
            font-weight: bold;
        }

        #shippingmsgbox {
            background-color: #E0E0E0;
            z-index: 10000;
            height: 70px;
            width: 200px;
            position: fixed;
            top: auto;
            left: 50%;
            margin-top: -35px;
            margin-left: -75px;
            align-items: center;
            display: flex;
            padding-top: 75px;
            border-radius: 15px;
            font-weight: bolder;
            font-size: 15px;
            box-shadow: 1.5px 1.5px 7px 1px #5b5b5b;
        }

        .shape-ex7 {
            width: 100px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            line-height: 40px;
            color: orange;
            background-color: transparent;
            border: 1px solid #000;
            position: relative;
            transition: all .3s linear;
        }

            .shape-ex7 > p {
                position: relative;
                z-index: 1;
            }

            .shape-ex7::before {
                content: "";
                width: 0%;
                height: 0%;
                display: block;
                background-color: orange;
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0;
                transition: all .3s ease;
            }

            .shape-ex7:hover {
                color: #fff;
            }

                .shape-ex7:hover::before {
                    width: 100%;
                    height: 100%;
                    opacity: 1;
                }

        #UserName {
            font-weight: bold
        }

        .p1 {
            margin-top: 0;
            margin-bottom: 0rem;
        }
    </style>
</head>
<body>
    <!--大標題-->
    <header>
        <div class="header-area">
            <div class="main-header header-sticky">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <!-- Logo -->
                        <div class="col-xl-2 col-lg-2 col-md-1">
                            <div class="logo">
                                <a asp-controller="Home" asp-action="index"><img src="~/img/logo/careBIG.png" style="height:50px;" alt=""></a>
                            </div>
                        </div>
                        <div class="col-xl-10 col-lg-10 col-md-10">
                            <div class="menu-main d-flex align-items-center justify-content-end">
                                <!-- Main-menu -->
                                <div class="main-menu f-right d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">
                                            <li>
                                                <a href="blog.html" class="MyFamily" style="display:none;">我的家人</a>
                                                <ul class="submenu">
                                                    <li>
                                                        <a class="nav-link text-dark" asp-area="" asp-controller="UserInformation" asp-action="PersonInfomation">個人資料</a>
                                                    </li>
                                                    <li>
                                                        <a class="nav-link text-dark" asp-area="" asp-controller="UserInformation" asp-action="GetUserPatient">家人資料</a>
                                                    </li>
                                                    <li>
                                                        <a class="nav-link text-dark" asp-area="" asp-controller="UserInformation" asp-action="NewPost">家人???</a>
                                                    </li>

                                                </ul>
                                            </li>
                                            <li>
                                                <button type="button" class="Loginbtn" data-toggle="modal" data-target="#exampleModalCenter" id="textbtn">
                                                    <i class="fa-solid fa-user" style="color:black">登入</i>
                                                </button>
                                            </li>
                                            <li>
                                                <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="List">甜心小舖</a>
                                            </li>
                                            <li>
                                                <a class="nav-link text-dark" asp-area="" asp-controller="ChatBot" asp-action="Index">聊天</a>
                                            </li>
                                            <li>
                                                <a class="nav-link text-dark" asp-area="" asp-controller="Calendar" asp-action="List">行事曆</a>
                                            </li>
                                            <li>
                                                <a class="nav-link text-dark" asp-area="" asp-controller="AdminUserLogin" asp-action="Login">後臺管理系統</a>
                                            </li>
                                            <li class="nav-item" id="treat">
                                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">治療活動紀錄</a>
                                                <ul class="submenu">
                                                    <li>
                                                        <a class="nav-link text-dark" asp-area="" asp-controller="Evaluate" asp-action="List">評估紀錄</a>
                                                    </li>
                                                    <li>
                                                        <a class="nav-link text-dark" asp-area="" asp-controller="Consult" asp-action="List">會談紀錄</a>
                                                    </li>
                                                    <li>
                                                        <a class="nav-link text-dark" asp-area="" asp-controller="GroupActivityForCustomer" asp-action="List">活動紀錄</a>
                                                    </li>

                                                </ul>
                                            </li>
                                            <li>

                                            </li>
                                            <li>
                                                <a href="blog.html">Blog</a>
                                                <ul class="submenu">
                                                    <li>
                                                        <a class="nav-link text-dark" asp-area="" asp-controller="Forum" asp-action="Index">交流版</a>
                                                    </li>
                                                    <li>
                                                        <a class="nav-link text-dark" asp-area="" asp-controller="Forum" asp-action="OfficialPost">康家Blog</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a class="nav-link text-dark Logoutbtn" style="display:none;" asp-controller="Home" asp-action="Index">登出</a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                                <div class="header-right-btn f-right d-none d-lg-block ml-30">
                                    <span id="UserName"></span>
                                </div>
                            </div>
                        </div>
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    @await RenderSectionAsync("DeadCessTitle", required: false)
    <div class="alert-autocloseable-warning" id="shippingmsgbox" hidden role="alert">
        <div class="alert-autocloseable-warning" id="shippingmsgText">
        </div>
    </div>
    <div class="container renderbody">
        <main role="main" class="pb-2">
            @RenderBody()
        </main>
    </div>
    <form name="UserLoingForm">
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">登入帳號</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: red;">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary Loginsubbtn">登入</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!--? Footer Start-->
    <div class="footer-area " @*data-background="assets/img/gallery/footer_bg.jpg" style="background-image: url(&quot;assets/img/gallery/footer_bg.jpg&quot;);"*@>
        <div class="container">
            <div class="footer-top footer-padding">
                <div class="row d-flex justify-content-between">
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-8">
                        <div class="single-footer-caption mb-50">
                            <!-- logo -->
                            <div class="footer-logo">
                                <a href="#"><img src="~/img/logo/logo2_footer.png" alt=""></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-5">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>About Us</h4>
                                <div class="footer-pera">
                                    <p class="info1">Lorem igpsum doldfor sit amet, adipiscing elit, sed do eiusmod tempor cergelit rgh. </p>
                                    <p class="info1">Lorem ipsum dolor sit amet, adipiscing elit.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-8">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-number mb-50">
                                <h4><span>+564 </span>7885 3222</h4>
                                <p>youremail@gmail.com</p>
                            </div>
                            <!-- Form -->
                            <div class="footer-form">
                                <div id="mc_embed_signup">
                                    <form target="_blank" action="#" method="get" class="subscribe_form relative mail_part" novalidate="true">
                                        <input type="email" name="EMAIL" id="newsletter-form-email" placeholder=" Email Address " class="placeholder hide-on-focus" onfocus="this.placeholder = &#39;&#39;" onblur="this.placeholder = &#39;Your email address&#39;">
                                        <div class="form-icon">
                                            <button type="submit" name="submit" id="newsletter-submit" class="email_icon newsletter-submit button-contactForm">
                                                Send
                                            </button>
                                        </div>
                                        <div class="mt-10 info"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="row d-flex justify-content-between align-items-center">
                    <div class="col-xl-9 col-lg-8">
                        <div class="footer-copy-right">
                            <p>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright ©<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com/" target="_blank">Colorlib</a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4">
                        <!-- Footer Social -->
                        <div class="footer-social f-right">
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fas fa-globe"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- Footer End-->
    <div id="back-top" style="display: block;">
        <a title="Go to Top" href="#">
            <i class="fas fa-level-up-alt"></i>
        </a>
    </div>
    <!-- Jquery Mobile Menu -->
    <script src="~/js/jquery.slicknav.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    @*<script src="~/js/owl.carousel.min.js"></script>*@
    <script src="~/js/slick.min.js"></script>
    <!-- One Page, Animated-HeadLin -->
    @*<script src="~/js/wow.min.js"></script>*@
    @*<script src="~/js/animated.headline.js"></script>
    <script src="~/js/jquery.magnific-popup.js"></script>*@

    <!-- Date Picker -->
    @*<script src="~/js/gijgo.min.js"></script>*@
    <!-- Nice-select, sticky -->
    @*<script src="~/js/jquery.sticky.js"></script>*@

    <!-- counter , waypoint -->
    @*<script src="~/js/jquery.counterup.min.js"></script>
    <script src="~/js/jquery.countdown.min.js"></script>*@
    <!-- contact js -->
    @*<script src="~/js/contact.js"></script>
    <script src="~/js/jquery.form.js"></script>
    <script src="~/js/jquery.validate.min.js"></script>
    <script src="~/js/mail-script.js"></script>*@
    @*<script src="~/js/jquery.ajaxchimp.min.js"></script> *@

    <!-- Jquery Plugins, main Jquery -->
    <script src="~/js/plugins.js"></script>
    <script src="~/js/main.js"></script>
    @*原本保留下來的*@
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script>
        //=======================抓使用者是誰======================
        $("#treat").hide();
        async function getUser() {
            //const data = new FormData(UserLoingForm);
            const span = document.querySelector("#UserName");
            const response = await fetch("@Url.Content("/UserLogin/GetUserSession")", {
                //method:"Post",
                //body:data,
            }
            )
            const User = await response.text();
            const LoginA = document.querySelector(".LoginA");
            if (User != "") {
                $(".Loginbtn").hide(); //登入後隱藏
                $(".Logoutbtn").show();//登入後顯示出來
                $(".MyFamily").show(); //登入後顯示出來
                $(".modal-backdrop").hide();
                $(".modal").hide();
                $("#treat").show();
                span.innerText = User + " 歡迎!";
            }
        }
        getUser();
        //==============================================================
        $(".Loginbtn").on("click", function () {
            $(".modal-body").load("@Url.Content("/Home/PartialLogin")")
        })

        $(".Loginsubbtn").on("click", function (event) {
            event.preventDefault();
            let xhr = new XMLHttpRequest();
            xhr.addEventListener("load", function () {
                const span = document.querySelector("#UserName");
                const User = xhr.responseText;
                console.log(User);
                if (User == "0") {
                    $('.alert-autocloseable-warning').attr("hidden", false);
                    $('.alert-autocloseable-warning').delay(2000).fadeOut("slow", function () {
                        $('.alert-autocloseable-warning').attr("hidden", true);
                        $('.alert-autocloseable-warning').removeAttr("style");
                    });
                    $('#shippingmsgText').text("無此使用者或輸入錯誤");
                }
                else if (User == "1") {
                    $('.alert-autocloseable-warning').attr("hidden", false);
                    $('.alert-autocloseable-warning').delay(2000).fadeOut("slow", function () {
                        $('.alert-autocloseable-warning').attr("hidden", true);
                        $('.alert-autocloseable-warning').removeAttr("style");
                    });
                    $('#shippingmsgText').text("無此使用者或輸入錯誤");

                }
                else {
                    $('.alert-autocloseable-warning').attr("hidden", false);
                    $('.alert-autocloseable-warning').delay(2000).fadeOut("slow", function () {
                        $('.alert-autocloseable-warning').attr("hidden", true);
                        $('.alert-autocloseable-warning').removeAttr("style");
                    });
                    $('#shippingmsgText').text("歡迎" + User);
                    getUser();
                }

            })
            const data = new FormData(UserLoingForm);
            xhr.open("POST", "@Url.Content("/UserLogin/ExistAccount")");
            xhr.send(data);
        })
        //=================清除使用者=================================
        const btn = document.querySelector(".Logoutbtn")
        btn.addEventListener("click", function () {
            debugger
            const xhr = new XMLHttpRequest();
            xhr.addEventListener("load", function () {
                if (xhr.responseText == "清除session") {
                    $(".Loginbtn").show();
                    $(".Logoutbtn").hide();
                    $(".MyFamily").hide();
                    //$(".modal").append();
                    //$(".modal-backdrop").append();
                    $("#UserName").text("");
                }
            })
            xhr.open("Post", "@Url.Content("/UserLogin/RemoveUserSession")");
            xhr.send();
        })

    </script>
</body>
</html>
