@{

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - prjRehabilitation</title>
    <script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/prjRehabilitation.styles.css" asp-append-version="true" />
    <!-- CSS here -->
    @*<link rel="stylesheet" href="~/css/owl.carousel.min.css">*@
    <link rel="stylesheet" href="~/css/slicknav.css">
    <link rel="stylesheet" href="~/css/flaticon.css">
    @* <link rel="stylesheet" href="~/css/gijgo.css">*@
    <link rel="stylesheet" href="~/css/animate.min.css">
    @*<link rel="stylesheet" href="~/css/magnific-popup.css">*@
    @*<link rel="stylesheet" href="~/css/fontawesome-all.min.css">*@
    @*<link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/themify-icons.css">*@
    <link rel="stylesheet" href="~/css/slick.css">
    @* <link rel="stylesheet" href="~/css/nice-select.css">*@
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/main.css">
    @* <link rel="stylesheet" href="~/css/nice-select.css">
    <link rel="stylesheet" href="~/css/price_rangs.css">
    <link rel="stylesheet" href="~/css/responsive.css">*@
    @await RenderSectionAsync("Styles", required: false)
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <style>
        #shippingmsgText {
            height: 100px;
            width: 200px;
            text-align: center;
            color: #4D0000;
            font-weight: bold;
        }

        #shippingmsgbox {
            background-color: #E0E0E0;
            z-index: 10000;
            height: 70px;
            width: 200px;
            position: fixed;
            top: auto;
            left: 50%;
            margin-top: -35px;
            margin-left: -75px;
            align-items: center;
            display: flex;
            padding-top: 75px;
            border-radius: 15px;
            font-weight: bolder;
            font-size: 15px;
            box-shadow: 1.5px 1.5px 7px 1px #5b5b5b;
        }

        .shape-ex7 {
            width: 100px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            line-height: 40px;
            color: orange;
            background-color: transparent;
            border: 1px solid #000;
            position: relative;
            transition: all .3s linear;
        }

            .shape-ex7 > p {
                position: relative;
                z-index: 1;
            }

            .shape-ex7::before {
                content: "";
                width: 0%;
                height: 0%;
                display: block;
                background-color: orange;
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0;
                transition: all .3s ease;
            }

            .shape-ex7:hover {
                color: #fff;
            }

                .shape-ex7:hover::before {
                    width: 100%;
                    height: 100%;
                    opacity: 1;
                }

        #UserName {
            font-weight: bold
        }

        .p1 {
            margin-top: 0;
            margin-bottom: 0rem;
        }

        ul {
            margin: 0px;
            padding: 0px;
            padding-right: 35px;
        }

        a, p, p > * {
            font-size: 1.2rem;
            text-decoration: none;
            font-weight: bold;
        }

        span {
            font-size: 1.5rem;
        }
        /**{font-size:1rem;}*/
        .noWrap {
            white-space: nowrap;
            margin-right: 70px;
        }

        #bot {
            background: black;
            height: 50px;
            width: 50px;
            right: 31px;
            bottom: 18px;
            position: fixed;
            color: #fff;
            font-size: 20px;
            text-align: center;
            border-radius: 50%;
            line-height: 48px;
            border: 2px solid transparent;
            box-shadow: 0 0 10px 3px rgb(108 98 98 / 20%);
        }

        .contact-bot.action {
            background-color: #00AEAE;
            color: white;
            position: fixed;
            display: inline;
            max-width: 200px;
            max-height: 40px;
            bottom: 0px;
            right: 50px;
            font-size: 20px;
            letter-spacing: 3px;
            text-align: center;
            padding: 5px 10px 5px 10px;
            z-index: 997;
            transition: 1.5s all;
        }
        .contact-bot {
            background-color: white;
            color: white;
            position: fixed;
            display: inline;
            max-width: 0px;
            max-height: 0px;
            bottom: 0px;
            right: 50px;
            font-size: 20px;
            letter-spacing: 3px;
            text-align: center;
            padding: 5px 10px 5px 10px;
            z-index: 997;
            transition: 1s all;
        }
        .contact-bot.action:hover {
                color: white;
            }
        .div-bot {
            background-color: white;
            color: black;
            position: fixed;
            display: inline;
            max-width: 0px;
            max-height: 0px;
            bottom: 0px;
            right: 50px;
            font-size: 20px;
            text-align: right;
            z-index: 998;
            transition: 0.5s all;
        }
        .div-bot.action {
                max-width: 1000px;
                max-height: 1000px;
                bottom: 0px;
                right: 50px;
                font-size: 20px;
                letter-spacing: 3px;
                text-align: right;
                padding: 5px 10px 5px 10px;
                z-index: 998;
                transition: 0.5s all;
                box-shadow: 5px 3px 12px #ADADAD;
            }
        .div-bot iframe {
                min-width: 0px;
                width: 100%;
                min-height: 0px;
                transition: 0.5s all;
            } 
        .div-bot.action iframe {
                min-width: 400px;
                width: 100%;
                min-height: 500px;
                transition: 0.5s all;
            }  
        .div-bot.action span {
                cursor: pointer;
            } 
        .div-bot.action span:hover {
                    color: crimson;
                }
    </style>
    @await RenderSectionAsync("StylesIndex", required: false)
</head>
<body>
    <!--大標題-->
    <header>
        <div class="header-area">
            <div class="main-header header-sticky" style="">
                <div class="container-fluid">
                    <div class="row" style="align-items: center;">
                        <!-- Logo -->
                        <div class="col-4">
                            <div class="logo">
                                <a asp-controller="AdminUserLogin" asp-action="Login"><img src="~/img/logo/careBIG.png" style="width:240px;margin-left:45px;" alt=""></a>
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="menu-main d-flex align-items-center  justify-content-end" style="">
                                <!-- Main-menu -->
                                <div class="main-menu f-right d-none d-lg-block">
                                    <!--
                                        <ul class="btn-group" role="group" >
                                            <a class="btn btn-primary   " asp-area="" asp-controller="Product" asp-action="List">甜心小舖</a>
                                            <a class="btn btn-primary  " asp-area="" asp-controller="Product" asp-action="List">甜心小舖</a>

                                            <li class="btn-group" role="group">
                                                <a class="btn btn-primary  dropdown-toggle" asp-controller="" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</a>
                                                <ul class="submenu ">
                                                    <li><a class="dropdown-item text-dark" asp-area="" asp-controller="UserInformation" asp-action="PersonInfomation">個人資料</a></li>
                                                    <li><a class="dropdown-item text-dark" asp-area="" asp-controller="UserInformation" asp-action="PersonInfomation">個人資料</a></li>
                                                </ul>
                                            </li>

                                        </ul>
                                        -->

                                    <ul id="navigation" role="group">
                                        <a class=" text-dark noWrap" asp-area="" asp-controller="Product" asp-action="List">甜心小舖</a>
                                        <a class=" text-dark noWrap" asp-area="" asp-controller="Calendar" asp-action="List">行事曆</a>
                                        <li class="btn-group btn-group-lg" role="group" id="treat">
                                            <a class=" text-dark dropdown-toggle" asp-area="" asp-controller="Home" asp-action="Index" data-bs-toggle="dropdown" aria-expanded="false">治療活動紀錄</a>
                                            <ul class="submenu">
                                                <li><a class="dropdown-item text-dark" asp-area="" asp-controller="Evaluate" asp-action="List">評估紀錄</a></li>
                                                <li><a class="dropdown-item text-dark" asp-area="" asp-controller="Consult" asp-action="List">會談紀錄</a></li>
                                                <li><a class="dropdown-item text-dark" asp-area="" asp-controller="GroupActivityForCustomer" asp-action="List">活動紀錄</a></li>
                                            </ul>
                                        </li>
                                        <li class="btn-group btn-group-lg" role="group">
                                            <a class=" text-dark   dropdown-toggle" asp-area="" data-bs-toggle="dropdown" aria-expanded="false">Blog</a>
                                            <ul class="submenu">
                                                <li><a class="dropdown-item text-dark" asp-area="" asp-controller="Forum" asp-action="Index">交流版</a></li>
                                                <li><a class="dropdown-item text-dark" asp-area="" asp-controller="Forum" asp-action="OfficialPost">康家Blog</a></li>
                                            </ul>
                                        </li>
                                        <li class="btn-group btn-group-lg" role="group">
                                            <a class=" text-dark MyFamily dropdown-toggle" asp-area="" data-bs-toggle="dropdown" aria-expanded="false" style="display:none;">我的家人</a>
                                            <ul class="submenu">
                                                <li><a class="dropdown-item text-dark" asp-area="" asp-controller="UserInformation" asp-action="PersonInfomation">個人資料</a></li>
                                                <li><a class="dropdown-item text-dark" asp-area="" asp-controller="UserInformation" asp-action="GetUserPatient">家人資料</a></li>

                                            </ul>
                                        </li>

                                        <a asp-area="" class="Loginbtn btn btn-success" style="color:white;" data-toggle="modal" data-target="#exampleModalCenter" id="textbtn">
                                            <i class="fa-solid fa-user" style="color:white;"></i>登入
                                        </a>
                                        <a class=" Logoutbtn btn btn-info noWrap" style=" display:none; color:white" asp-controller="Home" asp-action="Index">登出</a>
                                    </ul>


                                </div>
                            </div>
                            <!-- Mobile Menu -->
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    @await RenderSectionAsync("DeadCessTitle", required: false)
    <span id="bot-close" class="contact-bot action" style="cursor:pointer;"><i class="fas fa-comments"></i> 數位客服</span>
    <div id="bot-open" class="div-bot ">
        <span style=""><i class="far fa-times-circle"></i></span>
    </div>
    <div class="alert-autocloseable-warning" id="shippingmsgbox" hidden role="alert">
        <div class="alert-autocloseable-warning" id="shippingmsgText">
        </div>
    </div>
    <div class="container renderbody">
        <main role="main" class="pb-2">
            @RenderBody()
        </main>
    </div>
    <form name="UserLoingForm">
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">登入帳號</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: red;">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary Loginsubbtn">登入</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!--? Footer Start-->
    <div class="footer-area " @*data-background="assets/img/gallery/footer_bg.jpg" style="background-image: url(&quot;assets/img/gallery/footer_bg.jpg&quot;);"*@>
        <div class="container">
            <div class="footer-top footer-padding">
                <div class="row d-flex justify-content-between">
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-8">
                        <div class="single-footer-caption mb-50">
                            <!-- logo -->
                            <div class="footer-logo">
                                <a href="#"><img src="~/img/logo/careb.png" alt=""></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-5">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>關於我們</h4>
                                <div class="footer-pera">
                                    <p class="info1">在專業團隊復健協助下，提供住民個別化、多元化及持續性鍵訓練活動，讓住民早日達到學習獨立生活，逐漸回歸社區生活之目標 </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-8">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-number mb-50">
                                <h4> 聯絡我們:</h4>
                                <div class="footer-pera">
                                    <p class="info1">Tel: (02) 66316588 </p>
                                    <p class="info1">地址: 106台北市大安區復興南路一段390號2樓</p>
                                </div>
                            </div>
                            <!-- Form -->
                            <div class="footer-form">
                                <div id="mc_embed_signup">
                                    <form target="_blank" action="#" method="get" class="subscribe_form relative mail_part" novalidate="true">
                                        <input type="email" name="EMAIL" id="newsletter-form-email" placeholder=" Email Address " class="placeholder hide-on-focus" onfocus="this.placeholder = &#39;&#39;" onblur="this.placeholder = &#39;Your email address&#39;">
                                        <div class="form-icon">
                                            <button type="submit" name="submit" id="newsletter-submit" class="email_icon newsletter-submit button-contactForm">
                                                Send
                                            </button>
                                        </div>
                                        <div class="mt-10 info"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="row d-flex justify-content-between align-items-center">
                    <div class="col-xl-9 col-lg-8">
                        <div class="footer-copy-right">
                            <p>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright ©<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com/" target="_blank">Colorlib</a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4">
                        <!-- Footer Social -->
                        <div class="footer-social f-right">
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fas fa-globe"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End-->

    <div id="back-top" style="display: block;bottom:100px">
        <a title="Go to Top" style="color:blanchedalmond" href="#">
            <i class="fas fa-level-up-alt"></i>
        </a>
    </div>
    <!-- Jquery Mobile Menu -->
    <script src="~/js/jquery.slicknav.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    @*<script src="~/js/owl.carousel.min.js"></script>*@
    <script src="~/js/slick.min.js"></script>
    <!-- One Page, Animated-HeadLin -->
    @*<script src="~/js/wow.min.js"></script>*@
    @*<script src="~/js/animated.headline.js"></script>
    <script src="~/js/jquery.magnific-popup.js"></script>*@

    <!-- Date Picker -->
    @*<script src="~/js/gijgo.min.js"></script>*@
    <!-- Nice-select, sticky -->
    @*<script src="~/js/jquery.sticky.js"></script>*@

    <!-- counter , waypoint -->
    @*<script src="~/js/jquery.counterup.min.js"></script>
    <script src="~/js/jquery.countdown.min.js"></script>*@
    <!-- contact js -->
    @*<script src="~/js/contact.js"></script>
    <script src="~/js/jquery.form.js"></script>
    <script src="~/js/jquery.validate.min.js"></script>
    <script src="~/js/mail-script.js"></script>*@
    @*<script src="~/js/jquery.ajaxchimp.min.js"></script> *@

    <!-- Jquery Plugins, main Jquery -->
    <script src="~/js/plugins.js"></script>
    <script src="~/js/main.js"></script>
    @*原本保留下來的*@
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script>
        //=======================抓使用者是誰======================
        $("#treat").hide();
        async function getUser() {
            //const data = new FormData(UserLoingForm);
            const span = document.querySelector("#UserName");
            const response = await fetch("@Url.Content("/UserLogin/GetUserSession")", {
                //method:"Post",
                //body:data,
            }
            )
            const User = await response.text();
            const LoginA = document.querySelector(".LoginA");
            if (User != "") {
                $(".Loginbtn").hide(); //登入後隱藏
                $(".Logoutbtn").show();//登入後顯示出來
                $(".MyFamily").show(); //登入後顯示出來
                $(".modal-backdrop").hide();
                $(".modal").hide();
                $("#treat").show();
                span.innerText = User + " 歡迎!";
            }
        }
        getUser();
        //==============================================================
        $(".Loginbtn").on("click", function () {
            $(".modal-body").load("@Url.Content("/Home/PartialLogin")")
        })

        $(".Loginsubbtn").on("click", function (event) {
            event.preventDefault();
            let xhr = new XMLHttpRequest();
            xhr.addEventListener("load", function () {
                const span = document.querySelector("#UserName");
                const User = xhr.responseText;
                console.log(User);
                if (User == "0") {
                    $('.alert-autocloseable-warning').attr("hidden", false);
                    $('.alert-autocloseable-warning').delay(2000).fadeOut("slow", function () {
                        $('.alert-autocloseable-warning').attr("hidden", true);
                        $('.alert-autocloseable-warning').removeAttr("style");
                    });
                    $('#shippingmsgText').text("無此使用者或輸入錯誤");
                }
                else if (User == "1") {
                    $('.alert-autocloseable-warning').attr("hidden", false);
                    $('.alert-autocloseable-warning').delay(2000).fadeOut("slow", function () {
                        $('.alert-autocloseable-warning').attr("hidden", true);
                        $('.alert-autocloseable-warning').removeAttr("style");
                    });
                    $('#shippingmsgText').text("無此使用者或輸入錯誤");

                }
                else {
                    $('.alert-autocloseable-warning').attr("hidden", false);
                    $('.alert-autocloseable-warning').delay(2000).fadeOut("slow", function () {
                        $('.alert-autocloseable-warning').attr("hidden", true);
                        $('.alert-autocloseable-warning').removeAttr("style");
                    });
                    $('#shippingmsgText').text("歡迎" + User);
                    getUser();
                }

            })
            const data = new FormData(UserLoingForm);
            xhr.open("POST", "@Url.Content("/UserLogin/ExistAccount")");
            xhr.send(data);
        })
        //=================清除使用者=================================
        const btn = document.querySelector(".Logoutbtn")
        btn.addEventListener("click", function () {

            const xhr = new XMLHttpRequest();
            xhr.addEventListener("load", function () {
                if (xhr.responseText == "清除session") {
                    $(".Loginbtn").show();
                    $(".Logoutbtn").hide();
                    $(".MyFamily").hide();
                    //$(".modal").append();
                    //$(".modal-backdrop").append();
                    $("#UserName").text("");
                }
            })
            xhr.open("Post", "@Url.Content("/UserLogin/RemoveUserSession")");
            xhr.send();
        })

        $(".chat").on("click",function(){
            window.open("https://webchat.botframework.com/embed/ReplyBot-botNew2?s=YyinLQUa6kk.yjpzXW4-D4pCx9qJGAtYSjRXyB9U6l96WWJxwIJausU");
        })
        $("#bot-close").click(function () {
            //todo 發布前解鎖
            debugger
            $("#bot-open").append("<iframe id='botadd'src = 'https://webchat.botframework.com/embed/ReplyBot-botNew2?s=YyinLQUa6kk.yjpzXW4-D4pCx9qJGAtYSjRXyB9U6l96WWJxwIJausU'</iframe>")
                //<iframe src = "https://webchat.botframework.com/embed/ReplyBot-botNew2?s=YyinLQUa6kk.yjpzXW4-D4pCx9qJGAtYSjRXyB9U6l96WWJxwIJausU" style = "height: 502px; max-height: 502px;"> </iframe>

            setTimeout(function () {
                $("#bot-close").removeClass("action");
                $("#bot-open").addClass("action");
            }, 200);
        })
        $("#bot-open span").click(function () {
            $("#bot-open").removeClass("action");
            $("#bot-close").addClass("action");
            setTimeout(function () {
                $("#botadd").remove();
            }, 1500);
        })
    </script>
</body>
</html>
