@model IEnumerable<prjRehabilitation.ViewModel.CProductViewModel>

@{
    ViewData["Title"] = "關心康復之家: 甜心小舖－購物車";
    Layout = "_Layout";
}
<br />
<a class="genric-btn primary-border radius e-large " href="@Url.Content("~/Product/List")">繼續購物</a>
<br />

<table class="table">
    <thead>
        <tr class="column">
            <th>
                <label>全選
                    <input type="checkbox" id="cbAll" class="form-check-input mt-0" checked />
                </label>
            </th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>
                <button onclick="ResetCart()" class="genric-btn danger-border radius e-large ">清空購物車</button>
            </th>

        </tr>
    </thead>
    <tbody>
        @{
            foreach (var item in Model)
            {
                string imgSrc = "";
                if (item.FPhoto != null)
                {
                    var base64 = Convert.ToBase64String(item.FPhoto);
                    imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                }
                <tr id="product @item.Fid" name="order">
                    <td>
                            <input class="form-check-input mt-0" type="checkbox" id="@item.Fid" checked>
                    </td>
                    @if (!string.IsNullOrEmpty(imgSrc))
                    {
                        <td><img class="" src="@imgSrc" alt="顯示錯誤" width="100" height="100" /></td>
                    }
                    else
                    {
                        <td><img class="" src="~/images/imageDefault.png" width="100" height="100" /></td>
                    }
                    <td><span class="text-dark">@item.FName</span></td>
                    <td>
                        <span class="text-dark">庫存量:充足</span>
                    </td>
                    <td>
                            <input type="hidden" name="num" value="1" max="@item.FQty" min="1" onchange="checkNum(value,event)">
                    </td>
                    <td>
                        <label class="text-dark" name="price">單價:@Math.Ceiling((decimal)item.FPrice)
                            <input type="hidden" value="@Math.Ceiling((decimal)item.FPrice) ">    
                        </label>
                    </td>
                    <td>
                        @Html.ActionLink("移除","RemoveCartItem","Product",new{ id =item.Fid },new {@class="genric-btn danger-border radius  "})
                    </td>
                </tr>
            }
        }
    </tbody>
</table>


<div class="row g-5">
    <div class="col-md-5 col-lg-4 order-md-last">
        <br />
        <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-primary">購買產品(未滿$499酌收運費$60元)</span>
        </h4>
        <br />

        <ul class="list-group mb-3">
            <li class="list-group-item d-flex justify-content-between lh-sm">
                    <span>關心康復之家住民手做愛心商品</span>
                    <strong>$<span id="p_price"></span></strong>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-sm">
                    <span>運費</span>
                    <strong>$<span id="ShipPrice"></span></strong>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <span>總價 (NTD)</span>
                <strong>$<span id="total"></span></strong>
            </li>
        </ul>
    </div>

    <div class="col-md-7 col-lg-8">
        <br />
        <h4 class="text-primary mb-3">甜心小舖結帳區</h4>
        <form asp-action="CreateOrder" class="needs-validation" novalidate="" enctype="multipart/form-data" id="form" name="form">
            <div class="row g-3">
                <div class="col-sm-12">
                    <label for="firstName" class="form-label">姓名</label>
                    <input  type="text" class="form-control" id="FName"  name="FName"  required="">
                    <div class="invalid-feedback">
                        姓名必填
                    </div>
                </div>

                <div class="col-12">
                    <label for="email" class="form-label">Email <span class="text-muted"></span></label>
                    <input type="email" class="form-control" id="FEmail" name="FEmail" placeholder="John0721@gmail.com" required="">
                    <div class="invalid-feedback">
                        信箱必填
                    </div>
                </div>

                <div class="col-md-5">
                    <label for="country" class="form-label">縣市</label>
                    <select class="form-select" id="city" required="">

                    </select>
                    <div class="invalid-feedback">
                        Please select a valid country.
                    </div>
                </div>

                <div class="col-md-4">
                    <label for="state" class="form-label">鄉鎮市</label>
                    <select class="form-select" id="town" required="">

                    </select>
                    <div class="invalid-feedback">
                        Please provide a valid state.
                    </div>
                </div>

                <div class="col-md-3">
                    <label for="zip" class="form-label">郵遞區號</label>
                    <input type="text" class="form-control" id="zip" placeholder="" required="">
                    <div class="invalid-feedback">
                        Zip code required.
                    </div>
                </div>
            </div>

            <div class="col-12">
                <label for="address" class="form-label">地址</label>
                <input type="text" class="form-control" id="address" placeholder="羅斯福路四段一號" required="">
                <div class="invalid-feedback">
                    地址必填
                </div>
            </div>
            <input type="hidden" class="form-control" id="FAddress" name="FAddress" placeholder="羅斯福路四段一號" required="">
            <input type="hidden" class="form-control" id="FPrice" name="FPrice" placeholder="羅斯福路四段一號" required="">

            <hr class="my-4">

            <h4 class="mb-3">付款方式</h4>

            <div class="my-3">
                <div class="form-check">
                    <input id="credit" name="paymentMethod" type="radio" class="form-check-input" checked required="" disabled>
                    <label class="form-check-label" for="credit">信用卡</label>
                </div>
                @*            <div class="form-check">
                <input id="debit" name="paymentMethod" type="radio" class="form-check-input" required="">
                <label class="form-check-label" for="debit">Debit card</label>
                </div>
                <div class="form-check">
                <input id="paypal" name="paymentMethod" type="radio" class="form-check-input" required="">
                <label class="form-check-label" for="paypal">PayPal</label>
                </div>*@
            </div>

            <hr class="my-4">

            <button class="w-100 btn btn-primary btn-lg" type="button" onclick="CreateOrder()">繼續付款</button>
        </form>
    </div>
</div>

@section Scripts{
    <script src="~/js/taiwan_districts.js"></script>

    <script>
        checkMoney();
        $("#city").change(loadtown);
        $("#town").change(displayzip);

        async function setPurchaseList(id,type){
            await fetch(`/Product/CheckPurchasedItem?id=${id}&type=${type}`);
        }

        async function CreateOrder(){
            var address = $("#address").val();
            var town = $("#town option:selected").html();
           $("#FAddress").val($("#zip").val()+$("#city").val()+town+address);
            
            await fetch("/Product/CreateOrder", {
                method: "POST",
                body: new FormData(form)
                 })
            KeepGoing();
        }
        $("input[type='checkbox']").click(function(event){
                const id = event.target.id;
                console.log(event.target.id);
                if($(event.target).prop("checked"))  setPurchaseList(id,1);
                else  setPurchaseList(id,2);
                checkMoney();
            }
        );
        $("#cbAll").click(function () {
            if ($("#cbAll").prop("checked")) {//如果全選按鈕有被選擇的話（被選擇是true）
                $("input[type='checkbox']").prop("checked", true);//把所有的核取方框的變成勾選
                setPurchaseList(0,3);
            } else {
                $("input[type='checkbox']").prop("checked", false);//把所有的核取方框都取消勾選
                setPurchaseList(0, 4);
            }
            checkMoney();
        })

        function KeepGoing(){
            checkMoney();
            var price = $("#total").html();
            location.href=`@Url.Content("~/ECPay/Index?price=${price}")`;
        }
        async function checkOut(){
            checkMoney();
            const price = $("#total").html();
            const email =$("#FEmail").val();
            //location.href=`@Url.Content("~/ECPay/Index?${price}")`;
            location.href=`@Url.Content("~/Product/CreateOrder?price=${price}&email=${email}")`;
            
        }
        async function RemoveCartItem(id) {
            const response = await fetch(`@Url.Content("~/Product/RemoveCartItem?id=${id}")`);
            location.reload();
        }

        async function ResetCart(id) {
            const response = await fetch(`@Url.Content("~/Product/ResetCart")`);
            location.reload();
        }

        function checkNum(num,event){
            var max = $(event.target).attr("max");
            var target = $(event.target);

            if(parseInt(num)>parseInt (max)){
                target.val(max);
            }
            else if (parseInt(num) < 1 || num ==""){
                target.val(1);
            }
            console.log(target.val());
            checkMoney();
        }

        function checkMoney(){
            var total = 0;
            $("tr[name='order']").each(function(){
                if(!$(this).find("input").prop("checked")) return;  //有勾選的商品才算錢
                var num = $(this).find("td:eq(4)").find("input").val();
                var price = $(this).find("td:eq(5)").find("input").val();
                 total += parseInt(num) * parseInt(price);
            })
            $("#p_price").html(total);
            if(total<499){
                $("#ShipPrice").html(60);
                $("#total").html(total + 60);
            }
            else{
                $("#ShipPrice").html(0);
                $("#total").html(total);
            }
            $("#FPrice").val(total);
        }


        function displayzip() {
            $("#zip").val(`${$("#town").val()}`);
        }
        (function loadcity() {
            for (let i of data) {
                var c = document.createElement("option");
                c.innerHTML = i.name;
                c.value = i.name;
                $("#city").append(c);
            }
        })();
        function loadtown() {
            for (let i of data) {
                if (i.name == $(this).val()) {
                    $("#town").empty();
                    let j = 0;
                    for (j = 0; j < i.districts.length; j++) {
                        if(j==0)
                            $("#zip").val(i.districts[j].zip);

                        var town = document.createElement("option");
                        town.innerHTML = i.districts[j].name;
                        town.value = i.districts[j].zip;
                        town.id = i.districts[j].zip;
                        $("#town").append(town);
                    }
                    return;
                }
            }
        }
    </script>


}