@model IEnumerable<prjRehabilitation.ViewModel.CProductViewModel>

@{
    ViewData["Title"] = "List";
    Layout = "AdminLayout";
}
<br />
<a class="btn btn-outline-primary" href="@Url.Content("~/Product/Create")">新增商品</a>
<br />

    <table class="table">
    <thead>
        <tr class="column">
            <th>
                上架
            </th>
            <th>
                商品照片
            </th>
            <th>
                商品名稱
            </th>
            <th>
                 @Html.DisplayNameFor(model => model.FQty)
             </th>
            <th>
                @Html.DisplayNameFor(model => model.FPrice)
              </th>
            <th>
                  功能欄
             </th>

            </tr>
    </thead>
    <tbody>
            @{
                foreach (var item in Model)
                {
                    string imgSrc = "";
                    if (item.FPhoto != null)
                    {
                        var base64 = Convert.ToBase64String(item.FPhoto);
                        imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                    }
                    <tr  id="product @item.Fid">
                         <td>
                                @if (item.FStatus == true)
                                {
                                <input class="form-check-input mt-0" type="checkbox" id="@item.Fid" checked disabled>
                                }
                                else
                                {
                            <input class="form-check-input mt-0" type="checkbox" id="@item.Fid" disabled>
                                }
                        </td>
                        @if (!string.IsNullOrEmpty(imgSrc))
                        {
                            <td><img class="" src="@imgSrc" alt="顯示錯誤" width="100" height="100" /></td>
                        }
                        else
                        {
                            <td><img class="" src="~/images/imageDefault.png" width="100" height="100" /></td>
                        }
                        <td><span class="text-dark">@item.FName</span></td>
                        <td><span class="text-dark">@item.FQty</span></td>
                         <td><span class="text-dark">@Math.Ceiling((decimal)item.FPrice)</span></td>
                        <td>
                                @if (!item.FStatus)
                                {
                                    @Html.ActionLink("上架","TakeUp","Product",new{ id =item.Fid },new {@class="btn btn-outline-primary"})
                                    //<button type="button" class="btn btn-outline-primary" onclick="takeUp(@item.Fid)" id="take @item.Fid">上架</button>
                                }
                                else
                                {
                                    //<button class="btn btn-outline-primary" onclick="TakeOff(@item.Fid)" id="take @item.Fid">下架</button>
                                    @Html.ActionLink("下架","TakeOff","Product",new{ id =item.Fid },new {@class="btn btn-outline-primary"})
                                }
                                 @Html.ActionLink("修改","Edit","Product",new{ id =item.Fid },new {@class="btn btn-outline-success"})
                                 @Html.ActionLink("刪除","Edit","Product",new{ id =item.Fid },new {@class="btn btn-outline-danger"})
                        </td>
                    </tr>
                }
            }
    </tbody>
</table>


@section Scripts{
    <script>

        //function takeUp(id){
        //   fetch(`@Url.Content("~/Product/TakeUp?id=${id}")`)
        //   document.getElementById(`${id}`).Checked = true;
        //    document.getElementById.(`take ${id}"`).
        //}
        //function TakeOff(id){
        //    fetch(`@Url.Content("~/Product/TakeOff?id=${id}")`)
        //   document.getElementById(`${id}`).Checked = false; 
        //}
        //async function deleteProduct(id){
        //      if(!check()) return

        //    fetch(`@Url.Content("~/Product/Delete?id=${id}")`)
        //    document.getElementById(`product ${id}`).remove();
            
        //}


        //function check() {
        //    return confirm("是否刪除?");
        //}




    </script>


}