@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model prjRehabilitation.ViewModel.Lin.VMNewPost
<style>
        p{
        font-size:18px;
    }
</style>

<section class="blog_area single-post-area section-padding">
    <input  type="hidden" id="postId" value="@Model.FPostId"/>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 posts-list" id="post">
                <div class="single-post">
                    <div class="feature-img">
                        <img class="img-fluid" src="assets/img/blog/single_blog_1.png" alt="">
                    </div>
                    @*文章內容*@
                    <div class="blog_details">
                        <h1 style="font:900; color: #2d2d2d;">
                            @Model.FTitle
                        </h1>
                        <ul class="blog-info-link mt-3 mb-4">
                            <li><a href="#"><i class="fa fa-user"></i>@Model.FTag</a></li>
                            <li><a href="#"><i class="fa fa-comments"></i> 03 Comments</a></li>
                        </ul>
                        <article id="article">@Html.Raw(Model.FContent)</article>
                    </div>
                </div>
                <div class="navigation-top">
                    <div class="d-sm-flex justify-content-between text-center">
                        <p class="like-info">
                        </p>
                        <div class="col-sm-4 text-center my-2 my-sm-0">
                            <!-- <p class="comment-count"><span class="align-middle"><i class="fa fa-comment"></i></span> 06 Comments</p> -->
                        </div>
                        <ul class="social-icons">
                            <li><a href="https://www.facebook.com/sharer.php?u=https://localhost:7164/Forum/PostDetail/@Model.FPostId"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fab fa-behance"></i></a></li>
                        </ul>
                    </div>
                    <div class="navigation-area">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">

                                <div class="arrow">
                                    <a href="#">
                                        <span class="lnr text-white ti-arrow-left"></span>
                                    </a>
                                </div>
                                <div class="detials" id="prePost">
                                    <p>上一篇</p>

                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
                                <div class="detials" id="nextPost">
                                    <p>下一篇</p>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="blog-author">
                    <div class="media align-items-center">
                        <img src="~/img/blog/關心.png" alt="">
                        <div class="media-body">
                            <a href="#">
                                <h4>關心康復之家</h4>
                            </a>
                            <p>
                                Noting perfect last forever, except in our memories.
                            </p>
                        </div>
                    </div>
                </div>
                <div id="comments-area" class="comments-area">
                    <h4 id="commentNum">05 Comments</h4>
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>

                </div>
                <div class="comment-form">
                    <h4>留下你的看法</h4>
                    <form class="form-contact comment_form" action="#" id="commentForm" name="commentForm">
                        <input  type="hidden" asp-for="FPostId" value="@Model.FPostId"/>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <textarea class="form-control w-100" name = "FContent" id="FContent" cols="30" rows="9" placeholder="Write Comment"></textarea>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input class="form-control" name="FName" id="FName" type="text" placeholder="Name">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input class="form-control" name="FEmail" id="FEmail" type="email" placeholder="Email">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                        </div>
                    </form>
                    <button type="button" onclick="postComment()" class="button button-contactForm btn_1 boxed-btn">Post Comment</button>

                </div>
            </div>
            @*右側整體*@
            <div class="col-lg-4">
                <div class="blog_right_sidebar">
                    <aside class="single_sidebar_widget search_widget">
                        <form action="#">
                            <div class="form-group">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" id="keyword" placeholder="關鍵字搜尋" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search Keyword'">
                                    <div class="input-group-append">
                                    </div>
                                </div>
                            </div>
                        </form>
                        <button class="button rounded-0 primary-bg text-black w-100 btn_1 boxed-btn" onclick="searchByKeyword()" type="button">Search</button>

                    </aside>
                    <aside class="single_sidebar_widget post_category_widget">
                        <h4 class="widget_title" style="color: #2d2d2d;">分類</h4>
                        <ul class="list cat-list">
                            <li>
                                <a onclick="searchByTag('QA')" class="d-flex">
                                    <p>QA</p>
                                </a>
                            </li>
                            <li>
                                <a onclick="searchByTag('介紹')" class="d-flex">
                                    <p>介紹</p>
                                </a>
                            </li>
                            <li>
                                <a onclick="searchByTag('用藥')" class="d-flex">
                                    <p>用藥</p>
                                </a>
                            </li>
                            <li>
                                <a onclick="searchByTag('復健')" class="d-flex">
                                    <p>復健</p>
                                </a>
                            </li>
                            <li>
                                <a onclick="searchByTag('技術')" class="d-flex">
                                    <p>技術</p>
                                </a>
                            </li>
                            <li>
                                <a onclick="searchByTag('公告')" class="d-flex">
                                    <p>公告</p>
                                </a>
                            </li>
                            <li>
                                <a onclick="searchByTag('活動')" class="d-flex">
                                    <p>活動</p>
                                </a>
                            </li>
                        </ul>
                    </aside>
                    <aside class="single_sidebar_widget popular_post_widget">
                        <h3 class="widget_title" style="color: #2d2d2d;">最新文章</h3>
                        <div id="recentPost"></div>
                    </aside>


                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts{
    <script>
        loadComment();
        getRecentPost();
        getPrePost();
        getNextPost();
        var tagCloud="";

        async function AddAndSearchByTag(){

        }
        async function getPrePost(){
            console.log("prePost");
            var idd = @Model.FPostId;

            const response = await fetch(`@Url.Content("~/Forum/getPrePost?id=${idd}")`)
            const x = await response.json();
    
            console.log(x);
            const title = x.fTitle;
            const id = x.fPostId;
            var tag = x.fTag;

            document.getElementById("prePost").innerHTML += `
                            <a onclick="redirectToPage(${id})"  >
                                 <h4 style="color: #2d2d2d;" > ${title}`
                        ;

        }
        async function getNextPost() {
            var idd =@Model.FPostId;

            const response = await fetch(`@Url.Content("~/Forum/getNextPost?id=${idd}")`)
            const x = await response.json();

            console.log(x);
            const title = x.fTitle;
            const id = x.fPostId;
            var tag = x.fTag;

            document.getElementById("nextPost").innerHTML += `
                                    <a onclick="redirectToPage(${id})"  >
                                         <h4 style="color: #2d2d2d;" > ${title}`
                ;

        }
        async function searchByKeyword() {
            var keyword = document.getElementById("keyword").value;
            document.getElementById("post").innerHTML = `<span class="visually-hidden">Loading...</span>`;

            const response = await fetch(`@Url.Content("~/Forum/Search?keyword=${keyword}")`)
            const data = await response.json();

            var html = data.map(x => {
                console.log(x);
                const title = x.fTitle;
                const main = x.fMain;
                const date = x.fDate;
                const id = x.fPostId;
                const comment = x.fComment;
                var tag = x.fTag;
                return `<article class="blog_item  gray-bg">
                                                        <div class="blog_details">
                                                                            <button class="genric-btn info large" onclick="redirectToPage(${id})"><a src="~/Forum/PostDetail?${id}">${date}</button>
                                                                 <a class="d-inline-block"  src="~/Forum/PostDetail?${id}">
                                                                                 <h3 class=" blog-head " onclick="redirectToPage(${id})" style="color: #2d2d2d;">${title}</h3>
                                                            </a>
                                                            <p>
                                                                ${main}
                                                            </p>
                                                            <ul class="blog-info-link">
                                                                <li><a href="#"><i class="fa fa-user"></i>${tag}</a></li>
                                                                <li><a href="#"><i class="fa fa-comments"></i>${comment}則留言</a></li>
                                                            </ul>
                                                        </div>
                                                 </article>
                                                 `;
            })
            document.getElementById("post").innerHTML += html.join("");
            //加載完把讀取動畫關掉
            $(".spinner-border").remove();
        }
        async function getRecentPost() {
            document.getElementById("recentPost").innerHTML = `<span class="visually-hidden">Loading...</span>`;

            const response = await fetch(`@Url.Content("~/Forum/SearchByTime")`)
            const data = await response.json();

            var html = data.map(x => {
                console.log(x);
                const title = x.fTitle;
                const date = x.fDate;
                const id = x.fPostId;
                return `      <div class="media post_item">
                                                <div class="media-body row">
                                                                            <a  onclick="redirectToPage(${id})">
                                                        <h3 style="color: #2d2d2d;">${title}</h3>
                                                            <p >${date}</p>

                                                    </a>
                                                </div>
                                            </div>`;
            })
            document.getElementById("recentPost").innerHTML += html.join("");
            //加載完把讀取動畫關掉
            $(".spinner-border").remove();
        }
        async function searchByTag(tag) {
            document.getElementById("post").innerHTML = `<span class="visually-hidden">Loading...</span>`;

            const response = await fetch(`@Url.Content("~/Forum/SearchByTag?tag=${tag}")`)
            const data = await response.json();

            var html = data.map(x => {
                console.log(x);
                const title = x.fTitle;
                const main = x.fMain;
                const date = x.fDate;
                const id = x.fPostId;
                const comment = x.fComment;
                var tag = x.fTag;
                return `<article class="blog_item  gray-bg">
                                                                <div class="blog_details">
                                                                                    <button class="genric-btn info large" onclick="redirectToPage(${id})"><a src="~/Forum/PostDetail?${id}">${date}</button>
                                                                         <a class="d-inline-block"  src="~/Forum/PostDetail?${id}">
                                                                                         <h3 class=" blog-head " onclick="redirectToPage(${id})" style="color: #2d2d2d;">${title}</h3>
                                                                    </a>
                                                                    <p>
                                                                        ${main}
                                                                    </p>
                                                                    <ul class="blog-info-link">
                                                                        <li><a href="#"><i class="fa fa-user"></i>${tag}</a></li>
                                                                        <li><a href="#"><i class="fa fa-comments"></i>${comment}則留言</a></li>
                                                                    </ul>
                                                                </div>
                                                         </article>
                                                         `;
            })
            document.getElementById("post").innerHTML += html.join("");
            //加載完把讀取動畫關掉
            $(".spinner-border").remove();
            $("html,body").animate(
                {
                    scrollTop: 150,
                },
                0
            );
        }
        function redirectToPage(id) {
            location.href =`@Url.Content("~/Forum/PostDetail/${id}")`;
        }
        //送出評論後重整頁面以便檢視
        async function postComment(){
            await fetch("/forum/NewComment", {
                method: "POST",
                body: new FormData(commentForm)})
             
            location.reload();
        }
        async function loadComment(){
            console.log("reading");
            const response = await fetch("/forum/GetHistoryComment?id=@Model.FPostId")
            const data = await response.json();
            var count=0
            var html = data.map(x => {
                count++;
                console.log(x);
                const name = x.fName;
                const content = x.fContent
                const email = x.fEmail;
                const date = x.fDate;
                const id = x.fPostId;
                return `  <div class="comment-list">
                                <div class="single-comment justify-content-between d-flex">
                                    <div class="user justify-content-between d-flex">
                                        <div class="thumb">
                                            <img src="assets/img/comment/comment_3.png" alt="">
                                        </div>
                                        <div class="desc">
                                            <p class="comment">
                                                ${content}
                                            </p>
                                            <div class="d-flex justify-content-between">
                                                <div class="d-flex align-items-center">
                                                    <h5>
                                                        <a href="#">${name}</a>
                                                    </h5>
                                                    <p class="date">${date} </p>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                                         `;
            })
            if(count!=0&&count<10){
               document.getElementById("commentNum").innerHTML = `0${count} Comments`
            }
            else{
                document.getElementById("commentNum").innerHTML = `${count} Comments`
            }
            document.getElementById("comments-area").innerHTML += html.join("");
            //加載完把讀取動畫關掉
            $(".spinner-border").remove();
        }
        function setContent(e) {
            console.log(e);

            var str1 = e;
            //當遇到兩個空白轉換成兩個space   註 : 這麼做是為了有其他考量 , 如果只是純文字資料沒有其他標籤符號 , 那轉換一個空白就可以了 .
            if (str1 != null) {
                str2 = str1.replace(/  /g, "  ");
                //textarea換行轉成<br>
                str2 = str2.replace(/\n/g, "<br>");
                return str2;
            }
            return;
        };
    </script>
}
@*<div class="quote-wrapper">
    <div class="quotes">
        MCSE boot camps have its supporters and its detractors. Some people do not understand why you
        should have to spend money on boot camp when you can get the MCSE study materials yourself at
        a fraction of the camp price. However, who has the willpower to actually sit through a
        self-imposed MCSE training.
    </div>
</div>*@