@model prjRehabilitation.ViewModel.Lin.VMPatientInfoDetail

@{
    ViewData["Title"] = "Create_F";
    Layout = "AdminLayout";

}





<div class="layout">
    <h1>新增住民</h1>
    <h4></h4>
    <hr />
    <form asp-action="Create_F" name="FormP" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @*照片*@
        <div class="form-group col">
            <label asp-for="fphoto" class="control-label">照片</label>
            <input type="file" asp-for="fphoto" class="form-control" accept="image/gif, image/jpeg, image/png" />
            <br />
            <img id="preview_Patient_img" src="" alt="尚未上傳住民照片" width="200" height="150"/>
            <span asp-validation-for="fphoto"></span>
        </div>
        <hr />
        <div class="row">
            <div class="form-group col">
                <label asp-for="fName" class="control-label">姓名</label>
                <input asp-for="fName" class="form-control" required/>
                <span asp-validation-for="fName"></span>
            </div>
            <div class="form-group col-3">
                <label class="control-label">收案日期</label>
                <input type="date" asp-for="fCheckin" class="form-control" required />
                <span asp-validation-for="fCheckin"></span>
            </div>
            <div class="form-group col-3">
                <label asp-for="fBirthday" class="control-label">生日</label>
                <input onchange="ageCalculate();" type="date" max="@DateTime.Today" asp-for="fBirthday" class="form-control" />
                <span asp-validation-for="fBirthday" class="text-danger"></span>
            </div>
            @*    年齡顯示而已，不用進資料庫*@
            <fieldset disabled class="form-group col-3 disabled">
                <label class="control-label">年齡:</label>
                <input id="age" class="form-control " />
                <span class="text-danger"></span>
            </fieldset>
        </div>
        @*身分證、居住到期日、電話、性別*@
        <div class="row">
            <div class="form-group col-3">
                <label id="idnum" class="control-label">身分證字號</label>
                <input onblur="checkID()" asp-for="fIdnum" class="form-control" required />
                <span id="error_fIdnum" style="color:red"></span>
            </div>
            <div class="form-group col-3">
                <label asp-for="fExpireDate" class="control-label">入住到期日(預設到期日為入住日+1y-1d)</label>
                <input type="date" asp-for="fExpireDate" class="form-control" />
                <span asp-validation-for="fExpireDate"></span>
            </div>
            <div class="form-group col-3">
                <label asp-for="fPhone" class="control-label">電話</label>
                <input asp-for="fPhone" class="form-control" />
                <span asp-validation-for="fPhone"></span>
            </div>
            <div class="form-group   col-3">
                <label asp-for="fSex" class="control-label">性別</label>
                <div>
                    <div class="form-check form-check-inline pt-2 ">
                        <!-- 這個inline就可以水平排列 -->
                        <input id="FSexM" class="form-check-input" type="radio" asp-for="fSex" checked value="M">
                        <label class="form-check-label" for="FSexM">男</label>
                    </div>
                    <div class="form-check form-check-inline pt-2">
                        <input id="FSexF" class="form-check-input" type="radio" asp-for="fSex" value="F">
                        <label class="form-check-label" for="FSexF">女</label>
                    </div>
                </div>
            </div>
        </div>
        @*              教育、婚姻、戶籍、戶籍地址
        .5排，現居地址*@
        <div class="row">
            <div class="col-2">
                <div class="form-group   col-8">
                    <label asp-for="fEdu" class="control-label">教育程度</label>
                    <div class="form-check form-check-inline pt-2 ">
                        <input class="form-check-input" type="radio" asp-for="fEdu" checked value="不識字">
                        <label class="form-check-label" for="FEdu">不識字</label>
                    </div>
                    <div class="form-check form-check-inline pt-2">
                        <label class="form-check-label">
                            識字
                            <input class="form-check-input" type="radio" asp-for="fEdu" value="識字">
                        </label>
                    </div>
                    <div class="form-check form-check-inline pt-2 ">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" asp-for="fEdu" value="國小">
                            國小
                        </label>
                    </div>
                    <div class="form-check form-check-inline pt-2">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" asp-for="fEdu" value="國中">
                            國中
                        </label>
                    </div>
                    <div class="form-check form-check-inline pt-2 ">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" asp-for="fEdu" value="高中">
                            高中
                        </label>
                    </div>
                    <div class="form-check form-check-inline pt-2">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" asp-for="fEdu" value="大專及以上">
                            大專及以上
                        </label>
                    </div>
                </div>
            </div>
            @*婚姻*@
            <div class="col-1">
                <div class="form-group   col-auto">
                    <label asp-for="fMarried" class="control-label">婚姻狀況</label>
                    <div class="form-check form-check-inline pt-2 ">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" asp-for="fMarried" checked value="未婚">
                            未婚
                        </label>
                    </div>
                    <div class="form-check form-check-inline pt-2">
                        <label class="form-check-label">
                            已婚
                            <input class="form-check-input" type="radio" asp-for="fMarried" value="已婚">
                        </label>
                    </div>
                    <div class="form-check form-check-inline pt-2 ">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" asp-for="fMarried" value="離婚">
                            離婚
                        </label>
                    </div>
                    <div class="form-check form-check-inline pt-2">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" asp-for="fMarried" value="鰥寡">
                            鰥寡
                        </label>
                    </div>
                </div>
            </div>
            @*兩個地址，分兩行，和婚姻radio在同一列*@
            <div class="col">
                <div class="row">
                    <div class="form-group col-4">
                        <label asp-for="fCountry" class="control-label">戶籍</label>
                        <input asp-for="fCountry" class="form-control" />
                        <span asp-validation-for="fCountry"></span>
                    </div>
                    <div class="form-group col-8">
                        <label asp-for="fAddressPermanent" class="control-label">戶籍地址</label>
                        <input asp-for="fAddressPermanent" class="form-control" />
                        <span asp-validation-for="fAddressPermanent" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group col">
                    <label asp-for="fAddressResidential" class="control-label">現居地址</label>
                    <input asp-for="fAddressResidential" class="form-control" />
                    <span asp-validation-for="fAddressResidential"></span>
                </div>
            </div>
        </div>
        <hr />
        @*緊急聯絡人*@
        <div class="row">
            <label>緊急聯絡人一</label>
            <div class="form-group col">
                <label asp-for="emerCaller1.FEmergencyName" class="control-label">聯絡人姓名</label>
                <input asp-for="emerCaller1.FEmergencyName" class="form-control" />
                <span asp-validation-for="emerCaller1.FEmergencyName"></span>
            </div>
            <div class="form-group col">
                <label asp-for="emerCaller1.Frelation" class="control-label">關係</label>
                <input asp-for="emerCaller1.Frelation" class="form-control" />
                <span asp-validation-for="emerCaller1.Frelation"></span>
            </div>
            <div class="form-group col">
                <label asp-for="emerCaller1.FPhone" class="control-label">手機或家用電話</label>
                <input asp-for="emerCaller1.FPhone" class="form-control" />
                <span asp-validation-for="emerCaller1.FPhone"></span>
            </div>
        </div>
        <div class="row">
            <label>緊急聯絡人二</label>
            <div class="form-group col">
                <label asp-for="emerCaller2.FEmergencyName" class="control-label">聯絡人姓名</label>
                <input asp-for="emerCaller2.FEmergencyName" class="form-control" />
                <span asp-validation-for="emerCaller2.FEmergencyName"></span>
            </div>
            <div class="form-group col">
                <label asp-for="emerCaller2.Frelation" class="control-label">關係</label>
                <input asp-for="emerCaller2.Frelation" class="form-control" />
                <span asp-validation-for="emerCaller2.Frelation"></span>
            </div>
            <div class="form-group col">
                <label asp-for="emerCaller2.FPhone" class="control-label">手機或家用電話</label>
                <input asp-for="emerCaller2.FPhone" class="form-control" />
                <span asp-validation-for="emerCaller2.FPhone"></span>
            </div>
        </div>
        <hr />
        <div>
            @*疾病搜尋和新增(ICD10編碼)*@
            <div class="row">
                <input type="hidden" id="btn_dis" onclick="adddis()" value="測試用" />
                <label>疾病資料(1.在輸入框填入ICD10疾病編碼或名稱 2.選擇最符合的疾病 3.若無結果，可點擊下方新增)</label>
                <div class="form-group col-4">
                    <input style="margin-right:1em" class="form-control " id="disease" />
                </div>
                <div class="form-group col-8">
                    <select class=" form-select " id="diseaselist"></select>
                </div>
                @*div_disease用來裝動態生成的疾病資料*@
                <div id="div_disease"></div>
                <div class="col">
                    <button type="button" class="btn btn-success col-1" style="color:white" onclick="AddNewDisease()">手動新增</button>
                </div>
            </div>

        </div>
        <hr />
        @*醫院、身分別、請領補助*@
        <div class="row">
            <div class="form-group col-3">
                <label asp-for="fHos" class="control-label">醫院</label>
                <input asp-for="fHos" class="form-control" />
                <span asp-validation-for="fHos"></span>
            </div>
            <div class="form-group   col-6">
                <label asp-for="fIDY" class="control-label">身分別</label>
                <div>
                    <div class="form-check form-check-inline pt-2 ">
                        <label class="form-check-label">
                            健保
                            @Html.CheckBoxFor(x=>x.fidy_健保,new { @class ="form-check-input" })
                        </label>
                    </div>
                    <div class="form-check form-check-inline pt-2 ">
                        <label class="form-check-label">
                            福保
                            @Html.CheckBoxFor(x=>x.fidy_福保,new { @class ="form-check-input" })
                        </label>
                    </div>
                    <div class="form-check form-check-inline pt-2 ">
                        <label class="form-check-label">
                            低收入戶
                            @Html.CheckBoxFor(x=>x.fidy_低收,new { @class ="form-check-input" })
                        </label>
                    </div>
                    <div class="form-check form-check-inline pt-2 ">
                        <label class="form-check-label">
                            重大傷病卡
                            @Html.CheckBoxFor(x=>x.fidy_重大傷病,new { @class ="form-check-input" })
                        </label>
                    </div>
                    <div class="form-check form-check-inline pt-2 ">
                        <label class="form-check-label">
                            身障手冊/身心障礙證明
                            @Html.CheckBoxFor(x=>x.fidy_身心障礙,new { @class ="form-check-input" })
                        </label>
                    </div>
                </div>
            </div>
            <div class="  col">
                <label asp-for="fGrant" class="control-label">請領補助</label>
                <div class="col">
                    <div class=" form-check form-check-inline pt-2  col">
                        無
                        <input class="form-check-input" type="radio" asp-for="fGrant_無" value="健保">
                    </div>
                    <div class=" form-check form-check-inline pt-2 col">
                        <label class="form-check-label">
                            有
                            <input class="form-check-input" type="radio" asp-for="fGrant_無" value="健保">
                        </label>
                    </div>
                    <div class="" col-3">
                        <label asp-for="fGrantType" class="control-label">補助類型</label>
                        <input asp-for="fGrantType" class="form-control" />
                        <span asp-validation-for="fGrantType"></span>
                    </div>
                </div>
            </div>
            <hr />

        </div>
        <div class="form-group">
            <input id="submit" type="submit" value="送出" class=" btn btn-primary" />
        </div>
    </form>
    @*<button form="FormP" type="submit" id="btn_submit" onclick="formSubmit()">創建資料</button>*@
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts{
    <script>
        $(document).ready(function() {
            var date = new Date();

            var day = date.getDate();
            var month = date.getMonth() + 1;
            var year = date.getFullYear();

            if (month < 10) month = "0" + month;
            if (day < 10) day = "0" + day;

            var today = year + "-" + month + "-" + day;
            $("#fCheckin").attr("value", today);
        });
        $("#fCheckin").change(function(){
            var checkin = $("#fCheckin").val()

            var day = checkin.substr(8,2)-1;
            var month = checkin.substr(5, 2);
            var year =  parseInt(checkin.substr(0,4))+1;

            if (day < 10) day = "0" + day;

            var date = year + "-" + month + "-" + day;

            $("#fExpireDate").val(date);
        });

        $(document).ready(function () {
            //計算生日
            $("input[name='FBirthday']").change(ageCalculate());
            //輸入疾病名稱或編號時，使用ajax檢索病名並放去disease
            $("#disease").change(function () {
                $("#diseaselist").empty();
                $("#diseaselist").append("<option value=''>查詢中，請稍後</option>");
                var diseaseName = $("#disease").val();
                console.log(diseaseName);
                $.ajax({
                    type: "Post",
                    url: "../Patients/Create_F?disease=" + diseaseName,
                    data: '{}',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    async: true,
                    success: function (data) {
                        $("#diseaselist").empty();
                        if (data == "") {
                            $("#diseaselist").append("<option value=''>查無結果</option>");
                        }
                        else {
                            var jo = JSON.parse(data);
                            $("#diseaselist").append("<option value=''>請選擇</option>");
                            for (i = 0; i < jo.length; i++) {
                                $("#diseaselist").append("<option value='" + jo[i].ID_Disease + '|' + jo[i].DiseaseChineseName + "'>" + jo[i].ID_Disease + jo[i].DiseaseChineseName + "</option>");
                            }
                        }
                    },
                    failure: function (errMsg) {
                        $("#diseaselist").empty();
                        $("#diseaselist").append("<option value=''>查詢過程發生錯誤</option>");
                    }
                })
                $("option").select(function () { console.log($(this).val()) });
                $("#btn_dis").click(function () {
                    $("#diseaselist").append("<option value=F1病名1''>F1病名1</option>")
                    $("#diseaselist").append("<option value=F2病名2''>F2病名2</option>")
                })

                //使用ajax傳送疾病資料到c#，在c#的Action接收後轉換成list，最後送出時再添加到vm中



            });
            //選取疾病清單時，動態生成疾病表單
            $("select").change(function diseaseList_change() {
                count_disease++;
                var div = document.getElementById("div_disease");
                var detail = $(this).val();
                var position = detail.indexOf("|");
                var id = detail.substring(0, position);
                var name = detail.substring(position + 1);

                //表單生成
                var html = `<div id='disdiv${count_disease}'' class='row' style='background-color:antiquewhite'>`;
                html += `<div class='col-3'><label class='col-form-label'>編號</label><input id='disease${count_disease}.ID_Disease'  name='disease${count_disease}.ID_Disease' class='form-control'  value="${id} " /></div>`;
                html += `<div class='col-6'><label class='col-form-label'>疾病中文名稱</label><input  name='disease${count_disease}.DiseaseChineseName'  id='disease${count_disease}.DiseaseChineseName'  class='form-control' value="${name}"/></div>`;
                html += `<div class='col'><br>`;
                html += `<input type="button" class='btn btn-danger' style="color:white;" id='${count_disease}' onclick='disease_delete()' value="刪除">`;
                html += "</div> </div>";
                div.innerHTML += html;

                console.log(id);
            });
            //$("input[name='FName']").change(function(){
            //    console.log($(this).val());
            //});

        })

        function AddNewDisease(){
            count_disease++;
            var div = document.getElementById("div_disease");
            var html = `<div id='disdiv${count_disease}'' class='row' style='background-color:antiquewhite'>`;
                html += `<div class='col-3'><label class='col-form-label'>編號</label><input id='disease${count_disease}.ID_Disease'  name='disease${count_disease}.ID_Disease' class='form-control'   " /></div>`;
                html += `<div class='col-6'><label class='col-form-label'>疾病中文名稱</label><input  name='disease${count_disease}.DiseaseChineseName'  id='disease${count_disease}.DiseaseChineseName'  class='form-control' /></div>`;
                html += `<div class='col'><br>`;
                html += `<input type="button" class='btn btn-danger' style="color:white;" id='${count_disease}' onclick='disease_delete()' value="刪除">`;
                html += "</div> </div>";
                div.innerHTML += html;
        }

        function formSubmit() {
            console.log("送出");
            document.getElementById("submit").submit();
        }
        function adddis() {
            console.log("新增")
            $("#diseaselist").append("<option value='F1|病名1'>F1病名1</option>")
            $("#diseaselist").append("<option value='F2|病名2'>F2病名2</option>")
        }
        function ageCalculate() {
            console.log($("#fBirthday").val());
            let today = new Date();
            let birthYear = new Date($("#fBirthday").val()).getFullYear();
            if (today.getFullYear() < birthYear) {
                $("#age").val(0);
                return;
            }
            $("#age").val(today.getFullYear() - birthYear);
        }
        var count_disease = 0;

        function disease_delete() {
            let i = event.target.id;
            $(`#disdiv${i}`).remove();
        }
        $("#fphoto").change(function () {
            //當檔案改變後，做一些事
            readURL(this);   // this代表<input id="imgInp">
        });

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $("#preview_Patient_img").attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
        function checkID() {
            const idStr = $(event.target).val();
            console.log(idStr);
            // 依照字母的編號排列，存入陣列備用。
            var letters = new Array('A', 'B', 'C', 'D',
                'E', 'F', 'G', 'H', 'J', 'K', 'L', 'M',
                'N', 'P', 'Q', 'R', 'S', 'T', 'U', 'V',
                'X', 'Y', 'W', 'Z', 'I', 'O');
            // 儲存各個乘數
            var multiply = new Array(1, 9, 8, 7, 6, 5,
                4, 3, 2, 1);
            var nums = new Array(2);
            var firstChar;
            var firstNum;
            var lastNum;
            var total = 0;
            // 撰寫「正規表達式」。第一個字為英文字母，
            // 第二個字為1或2，後面跟著8個數字，不分大小寫。
            var regExpID = /^[a-z](1|2)\d{8}$/i;
            // 使用「正規表達式」檢驗格式
            if (idStr.search(regExpID) == -1) {
                $("#error_fIdnum").html("格式錯誤");
                $("#idnum").html("身分證字號&#10060;");
                // 基本格式錯誤
                return false;
            } else {
                // 取出第一個字元和最後一個數字。
                firstChar = idStr.charAt(0).toUpperCase();
                lastNum = idStr.charAt(9);
            }
            // 找出第一個字母對應的數字，並轉換成兩位數數字。
            for (var i = 0; i < 26; i++) {
                if (firstChar == letters[i]) {
                    firstNum = i + 10;
                    nums[0] = Math.floor(firstNum / 10);
                    nums[1] = firstNum - (nums[0] * 10);
                    break;
                }
            }
            // 執行加總計算
            for (var i = 0; i < multiply.length; i++) {
                if (i < 2) {
                    total += nums[i] * multiply[i];
                } else {
                    total += parseInt(idStr.charAt(i - 1)) *
                        multiply[i];
                }
            }
            // 和最後一個數字比對
            if ((10 - (total % 10)) != lastNum) {
                $("#error_fIdnum").html("身分證字號不合法");
                $("#idnum").html("身分證字號&#10060;");
                return false;
            }
            $("#error_fIdnum").html("");

            $("#idnum").html("身分證字號&#9989;");
            return true;
        }
    </script>
}