@model prjRehabilitation.ViewModel.Lin.VMPatientInfoDetail

@{
    ViewData["Title"] = "EDIT";
}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>

    <style>
        .solidF {
            position: fixed;
        }

        .layout {
            display: flex;
            flex-direction: column;
        }

        .List {
            margin-left: 0em;
        }

        * {
            padding: 0.1em;
        }
    </style>



<div class="layout">
    <h1>EDIT</h1>

    <h4>PatientInfo</h4>
    <hr />
    <form asp-action="Create_F" id="form1" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @*照片*@
        <div class="form-group col">
            <input type="hidden" asp-for="fid" class="form-control" />
        </div>
        <div class="form-group col">
            <label asp-for="fphoto" class="control-label">照片</label>
            <input accept=".jpg, .png, .jpeg" type="file" asp-for="fphoto" class="form-control" />
            <span asp-validation-for="fphoto"></span>
        </div>
        <hr />
        <div class="row">
            <div class="form-group col">
                <label asp-for="fName" class="control-label">姓名</label>
                <input asp-for="fName" class="form-control" />
                <span asp-validation-for="fName"></span>
            </div>
            <div class="form-group col-3">
                <label asp-for="fCheckin" class="control-label">收案日期</label>
                <input type="date" asp-for="fCheckin" class="form-control" />
                <span asp-validation-for="fCheckin"></span>
            </div>
            <div class="form-group col-3">
                <label asp-for="fBirthday" class="control-label">生日</label>
                <input onchange="ageCalculate();" type="date" max="@DateTime.Today" asp-for="fBirthday" class="form-control" />
                <span asp-validation-for="fBirthday" class="text-danger"></span>
            </div>
            @*    年齡顯示而已，不用進資料庫*@
            <fieldset disabled class="form-group col-3 disabled">
                <label class="control-label">年齡:</label>
                <input id="age" class="form-control " />
                <span class="text-danger"></span>
            </fieldset>
        </div>
        @*身分證、居住到期日、電話、性別*@
        <div class="row">
            <div class="form-group col-3">
                <label asp-for="fIdnum" class="control-label">身分證字號</label>
                <input asp-for="fIdnum" class="form-control" />
                <span asp-validation-for="fIdnum"></span>
            </div>
            <div class="form-group col-3">
                <label asp-for="fExpireDate" class="control-label">展延到期日</label>
                <input type="date" asp-for="fExpireDate" class="form-control" />
                <span asp-validation-for="fExpireDate"></span>
            </div>
            <div class="form-group col-3">
                <label asp-for="fPhone" class="control-label">電話</label>
                <input asp-for="fPhone" class="form-control" />
                <span asp-validation-for="fPhone"></span>
            </div>
            <div class="form-group   col-3">
                <label asp-for="fSex" class="control-label">性別</label>
                <div>
                    <div class="form-check form-check-inline pt-2 ">
                        <!-- 這個inline就可以水平排列 -->
                        <input id="FSexM" class="form-check-input" type="radio" asp-for="fSex" checked value="M">
                        <label class="form-check-label" for="FSexM">男</label>
                    </div>
                    <div class="form-check form-check-inline pt-2">
                        <input id="FSexF" class="form-check-input" type="radio" asp-for="fSex" value="F">
                        <label class="form-check-label" for="FSexF">女</label>
                    </div>
                </div>
            </div>
        </div>
        @*              教育、婚姻、戶籍、戶籍地址
        .5排，現居地址*@
        <div class="row">
            <div class="col-2">
                <div class="form-group   col-8">
                    <label asp-for="fEdu" class="control-label">教育程度</label>
                    <div class="form-check form-check-inline pt-2 ">
                        <input class="form-check-input" type="radio" asp-for="fEdu" checked value="不識字">
                        <label class="form-check-label" for="FEdu">不識字</label>
                    </div>
                    <div class="form-check form-check-inline pt-2">
                        <label class="form-check-label">
                            識字
                            <input class="form-check-input" type="radio" asp-for="fEdu" value="識字">
                        </label>
                    </div>
                    <div class="form-check form-check-inline pt-2 ">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" asp-for="fEdu" value="國小">
                            國小
                        </label>
                    </div>
                    <div class="form-check form-check-inline pt-2">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" asp-for="fEdu" value="國中">
                            國中
                        </label>
                    </div>
                    <div class="form-check form-check-inline pt-2 ">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" asp-for="fEdu" value="高中">
                            高中
                        </label>
                    </div>
                    <div class="form-check form-check-inline pt-2">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" asp-for="fEdu" value="大專及以上">
                            大專及以上
                        </label>
                    </div>
                </div>
            </div>
            @*婚姻*@
            <div class="col-1">
                <div class="form-group   col-auto">
                    <label asp-for="fMarried" class="control-label">婚姻狀況</label>
                    <div class="form-check form-check-inline pt-2 ">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" asp-for="fMarried" checked value="未婚">
                            未婚
                        </label>
                    </div>
                    <div class="form-check form-check-inline pt-2">
                        <label class="form-check-label">
                            已婚
                            <input class="form-check-input" type="radio" asp-for="fMarried" value="已婚">
                        </label>
                    </div>
                    <div class="form-check form-check-inline pt-2 ">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" asp-for="fMarried" value="離婚">
                            離婚
                        </label>
                    </div>
                    <div class="form-check form-check-inline pt-2">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" asp-for="fMarried" value="鰥寡">
                            鰥寡
                        </label>
                    </div>
                </div>
            </div>
            @*兩個地址，分兩行，和婚姻radio在同一列*@
            <div class="col">
                <div class="row">
                    <div class="form-group col-4">
                        <label asp-for="fCountry" class="control-label">戶籍</label>
                        <input asp-for="fCountry" class="form-control" />
                        <span asp-validation-for="fCountry"></span>
                    </div>
                    <div class="form-group col-8">
                        <label asp-for="fAddressPermanent" class="control-label">戶籍地址</label>
                        <input asp-for="fAddressPermanent" class="form-control" />
                        <span asp-validation-for="fAddressPermanent" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group col">
                    <label asp-for="fAddressResidential" class="control-label">現居地址</label>
                    <input asp-for="fAddressResidential" class="form-control" />
                    <span asp-validation-for="fAddressResidential"></span>
                </div>
            </div>
        </div>
        <hr />
        @*緊急聯絡人*@
        <div class="row">
            <label>緊急聯絡人一</label>
            <div class="form-group col">
                <label asp-for="emerCaller1.FEmergencyName" class="control-label">聯絡人姓名</label>
                <input asp-for="emerCaller1.FEmergencyName" class="form-control" />
                <span asp-validation-for="emerCaller1.FEmergencyName"></span>
            </div>
            <div class="form-group col">
                <label asp-for="emerCaller1.Frelation" class="control-label">關係</label>
                <input asp-for="emerCaller1.Frelation" class="form-control" />
                <span asp-validation-for="emerCaller1.Frelation"></span>
            </div>
            <div class="form-group col">
                <label asp-for="emerCaller1.FPhone" class="control-label">手機或家用電話</label>
                <input asp-for="emerCaller1.FPhone" class="form-control" />
                <span asp-validation-for="emerCaller1.FPhone"></span>
            </div>
        </div>
        <div class="row">
            <label>緊急聯絡人二</label>
            <div class="form-group col">
                <label asp-for="emerCaller2.FEmergencyName" class="control-label">聯絡人姓名</label>
                <input asp-for="emerCaller2.FEmergencyName" class="form-control" />
                <span asp-validation-for="emerCaller2.FEmergencyName"></span>
            </div>
            <div class="form-group col">
                <label asp-for="emerCaller2.Frelation" class="control-label">關係</label>
                <input asp-for="emerCaller2.Frelation" class="form-control" />
                <span asp-validation-for="emerCaller2.Frelation"></span>
            </div>
            <div class="form-group col">
                <label asp-for="emerCaller2.FPhone" class="control-label">手機或家用電話</label>
                <input asp-for="emerCaller2.FPhone" class="form-control" />
                <span asp-validation-for="emerCaller2.FPhone"></span>
            </div>
        </div>
        <hr />
        <div>
            @*疾病搜尋和新增(ICD10編碼)*@
            <div class="row">
                <input type="button" id="btn_dis" onclick="adddis()" value="測試用" />
                <label>疾病資料(1.在輸入框填入ICD10疾病編碼或名稱 2.選擇最符合的疾病 3.若無結果，可點擊下方新增)</label>
                <div class="form-group col-4">
                    <input style="margin-right:1em" class="form-control " id="disease" />
                </div>
                <div class="form-group col-8">
                    <select class=" form-select " id="diseaselist"></select>
                </div>
                @*div_disease用來裝動態生成的疾病資料*@
                <div id="div_disease">
                </div>
            </div>

        </div>
        <hr />
        @*醫院、身分別、請領補助*@
        <div class="row">
            <div class="form-group col-3">
                <label asp-for="fHos" class="control-label">醫院</label>
                <input asp-for="fHos" class="form-control" />
                <span asp-validation-for="fHos"></span>
            </div>
            <div class="form-group   col-6">
                <label asp-for="fIDY" class="control-label">身分別</label>
                <div>
                    <div class="form-check form-check-inline pt-2 ">
                        <label class="form-check-label">
                            健保
                            @Html.CheckBoxFor(x=>x.fidy_健保,new { @class ="form-check-input" })
                        </label>
                    </div>
                    <div class="form-check form-check-inline pt-2 ">
                        <label class="form-check-label">
                            福保
                            @Html.CheckBoxFor(x=>x.fidy_福保,new { @class ="form-check-input" })
                        </label>
                    </div>
                    <div class="form-check form-check-inline pt-2 ">
                        <label class="form-check-label">
                            低收入戶
                            @Html.CheckBoxFor(x=>x.fidy_低收,new { @class ="form-check-input" })
                        </label>
                    </div>
                    <div class="form-check form-check-inline pt-2 ">
                        <label class="form-check-label">
                            重大傷病卡
                            @Html.CheckBoxFor(x=>x.fidy_重大傷病,new { @class ="form-check-input" })
                        </label>
                    </div>
                    <div class="form-check form-check-inline pt-2 ">
                        <label class="form-check-label">
                            身障手冊/身心障礙證明
                            @Html.CheckBoxFor(x=>x.fidy_身心障礙,new { @class ="form-check-input" })
                        </label>
                    </div>
                </div>
            </div>
            <div class="  col">
                <label asp-for="fGrant" class="control-label">請領補助</label>
                <div class="col">
                    <div class=" form-check form-check-inline pt-2  col">
                        無
                        <input class="form-check-input" type="radio" asp-for="fGrant_無" value="000">
                    </div>
                    <div class=" form-check form-check-inline pt-2 col">
                        <label class="form-check-label">
                            有
                            <input class="form-check-input" type="radio" asp-for="fGrant_無" value="111">
                        </label>
                    </div>
                    <div class="" col-3">
                        <label asp-for="fGrantType" class="control-label">補助類型</label>
                        <input asp-for="fGrantType" class="form-control" />
                        <span asp-validation-for="fGrantType"></span>
                    </div>
                </div>
            </div>
            <hr />

        </div>

    </form>
    <button id="btn" class="btn btn-primary">送出</button>

</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

    <script>
        $(document).ready(function () {
            //動態表單用ajax另外拉出來
            fetchDisease();

            $("#btn").click(() => {
                //getIDYAndGrant();
                fetch("~\Patient\Edit", {
                    method: "POST",
                    //別忘了把主體参數轉成字串，否則資料會變成[object Object]，它無法被成功儲存在後台
                    body: new FormData(form1)
                }).then(() => { location.href = "@Url.Action("List","Patients")"; })
                    .catch(function (error) { console.log("失敗") });

            });
            $("checkbox").change(function () {
                console.log("1" + $(this).val());
            });

            //計算生日
            $("input[name='FBirthday']").change(ageCalculate());
            //輸入疾病名稱或編號時，使用ajax檢索病名並放去disease
            $("#disease").change(function () {
                $("#diseaselist").empty();
                $("#diseaselist").append("<option value=''>查詢中，請稍後</option>");
                var diseaseName = $("#disease").val();
                console.log(diseaseName);
                $.ajax({
                    type: "Post",
                    url: "~\Edit?disease=" + diseaseName,
                    data: '{}',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    async: true,
                    success: function (data) {
                        $("#diseaselist").empty();
                        if (data == "") {
                            $("#diseaselist").append("<option value=''>查無結果</option>");
                        }
                        else {
                            var jo = JSON.parse(data);
                            $("#diseaselist").append("<option value=''>請選擇</option>");
                            for (i = 0; i < jo.length; i++) {
                                $("#diseaselist").append("<option value='" + jo[i].ID_Disease + '|' + jo[i].DiseaseChineseName + "'>" + jo[i].ID_Disease + jo[i].DiseaseChineseName + "</option>");
                            }
                        }
                    },
                    failure: function (errMsg) {
                        $("#diseaselist").empty();
                        $("#diseaselist").append("<option value=''>查詢過程發生錯誤</option>");
                    }
                })
                $("option").select(function () { console.log($(this).val()) });
                $("#btn_dis").click(function () {
                    $("#diseaselist").append("<option value=F1病名1''>F1病名1</option>")
                    $("#diseaselist").append("<option value=F2病名2''>F2病名2</option>")
                })
                //使用ajax傳送疾病資料到c#，在c#的Action接收後轉換成list，最後送出時再添加到vm中
            });

            //選取疾病清單時，動態生成疾病表單
            $("select").change(function diseaseList_change() {
                count_disease++;
                var div = document.getElementById("div_disease");
                var detail = $(this).val();
                var position = detail.indexOf("|");
                var id = detail.substring(0, position);
                var name = detail.substring(position + 1);

                //表單生成
                var html = `<div id='disdiv${count_disease}'' class='row' style='background-color:antiquewhite'>
                                                                 <div class='col-3'><label class='col-form-label'>編號</label><input id='disease${count_disease}.ID_Disease'  name='disease${count_disease}.ID_Disease' class='form-control'  value="${id} " />
                                                                 </div>
                                                                     <div class='col-6'><label class='col-form-label'>疾病中文名稱</label><input  name='disease${count_disease}.DiseaseChineseName'  id='disease${count_disease}.DiseaseChineseName'  class='form-control' value="${name}"/>
                                                                     </div>
                                                                    <div class='col'><br /><button class='btn-danger'>往上</button>
                                                                        <input type="button" class='btn-danger' id='${count_disease}' onclick='disease_delete()' value="刪除">
                                                                        <button class='btn-danger'> 往下</button>
                                                                    </div>
                                                            </div>`;
                div.innerHTML += html;


                console.log(id);
            });

        })

        async function fetchDisease() {
            console.log("123")
            var div = document.getElementById("div_disease");
            var id = document.getElementById("fid").value;
            var count = 0;
            const response = await fetch(`@Url.Content("~/Patients/fetchDis?id=${id}")`);
            const data = await response.json();
            var html = data.map(x => {
                const disid = x.idDisease;
                const name = x.diseaseChineseName;
                count++;
                return `<div id='disdiv${count}' class='row' style='background-color:antiquewhite'>
                                        <div class='col-3'><label class='col-form-label'>編號</label><input id='disease${count}.ID_Disease'  name='disease${count}.ID_Disease' class='form-control'  value="${disid} " />
                                </div>
                                            <div class='col-6'><label class='col-form-label'>疾病中文名稱</label><input  name='disease${count}.DiseaseChineseName'  id='disease${count}.DiseaseChineseName'  class='form-control' value="${name}"/>
                                    </div>
                                <div class='col'><br /><button class='btn-danger'>往上</button>
                                            <input type="button" class='btn-danger' id='${count}' onclick='disease_delete()' value="刪除">
                                    <button class='btn-danger'> 往下</button>
                                </div>
                         </div>`;
            }
            );
            div.innerHTML = html.join("");
            count_disease = count;
        }
        function adddis() {
            console.log("新增")
            $("#diseaselist").append("<option value='F1|病名1'>F1病名1</option>")
            $("#diseaselist").append("<option value='F2|病名2'>F2病名2</option>")
        }
        function ageCalculate() {
            let today = new Date();
            //let birthYear = new Date($("fBirthday").val().getFullYear);
            let birthYear = document.getElementById("fBirthday").value.substring(0, 4);
            if (today.getFullYear() < birthYear) {
                $("#age").val(0);
                return;
            }
            $("#age").val(today.getFullYear() - birthYear);
            console.log(birthYear);
        }
        var count_disease = 0;


        function disease_delete() {
            let i = event.target.id;
            $(`#disdiv${i}`).remove();
        }
    </script>

@*        function getdata(event) {
            event.preventDefault();
            console.log("一秒後傳出");
            setTimeout(1000);
            var data = new FormData(form1);
            $.ajax({
                type: "Post",
                url: "~\Edit",
                data: `{${data}}`,
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                async: true,
                success: function () {
                    console.log("修改成功");
                },
                failure: function (errMsg) {
                    console.log(errMsg);

                }
            });
        }*@
@*                 //填入疾病資料
            //function addDisease() {
            //    var html = "";
            //    for (let i = 1; i <= 5; i++{
            //        if (dis != null) {
            //            html += `<div id='disdiv${count_disease}' ' class='row' style='background-color:antiquewhite'>
    //                                                         <div class='col-3'>
        <label class='col-form-label'>編號</label><input id='disease${count_disease}.ID_Disease' name='disease${count_disease}.ID_Disease' class='form-control' value="${id} " />
        //
    </div>
    //                                                             <div class='col-6'>
        <label class='col-form-label'>疾病中文名稱</label><input name='disease${count_disease}.DiseaseChineseName' id='disease${count_disease}.DiseaseChineseName' class='form-control' value="${name}" />
        //
    </div>
    //                                                            <div class='col'>
        <br /><button class='btn-danger'>往上</button>
        //                                                                <input type="button" class='btn-danger' id='${count_disease}' onclick='disease_delete()' value="刪除">
        //                                                                <button class='btn-danger'> 往下</button>
        //
    </div>
    //
</div>`;
            //        }
            //    }
            //    $("#div_dis").append(html);
            //}
*@