@model IEnumerable<prjRehabilitation.ViewModel.CPatientsViewModel>

@{
    ViewData["Title"] = "List";
}

<h1>List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form method="post">
<table class="table">
    <input type="text" name="txtKeyword" />
    <input type="submit" value="查詢" />
    <thead>
        <tr>
            <th>
               序號
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FSex)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FCheckin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FIdnum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FBednum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FBirthday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FHomeNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FEdu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FMarried)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FHos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FIdy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FGrant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FPicture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int count=0;
            foreach (var item in Model) 
            {
              count++;
        <tr>
            <td>
                @count
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FSex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FCheckin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FIdnum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FBednum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FBirthday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FHomeNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FEdu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FMarried)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FHos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FIdy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FGrant)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FPicture)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.ActionLink("編輯", "Edit", new { id=item.Fid  }) |
                @Html.ActionLink("刪除", "Delete", new {  id=item.Fid  })
            </td>
        </tr>
    
}
}
    </tbody>
</table>
</form>
