@model IEnumerable<prjRehabilitation.ViewModel.Lin.VMPatientList>

@{
    ViewData["Title"] = "List";
}

<h1>List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.fName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fidnum)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.fName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fidnum)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.fid }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
