    @model IEnumerable<prjRehabilitation.ViewModel.CCustomerViewModel>
    @{
    Layout = "AdminLayout";
    }
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                序號:
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FPassword)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FAddress)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int COUNT = 0;
            foreach (var item in Model)
            {
                COUNT++;
                <tr>
                    <td>
                        @COUNT
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FEmail)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FPassword)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FPhone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FAddress)
                    </td>
                    <td>
                        @Html.ActionLink("編輯", "Edit", new {  id=item.Fid  }) |
                        @Html.ActionLink("刪除", "Delete", new {  id=item.Fid  },new { @class="btn btn-danger",onclick = "return confirm('是否刪除?')"})
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
