@model IEnumerable<prjRehabilitation.ViewModel.CEvaluateViewModle>

@{
    ViewData["Title"] = "DateList";
    var ptid = ViewBag.ptid;
}

<h1>DateList</h1>

<p>
    <a href="/Evaluate/Create/@ptid" Create">新增</a>
</p>
<table class="table">
    <thead>
        <tr>      
            <th>
                @Html.DisplayNameFor(model => model.F日期)
            </th> 
            <th>
                @Html.DisplayNameFor(model => model.F問題)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <th>
                    @Html.DisplayFor(modelItem => item.F日期)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.F問題)
                </th>
            <td>
                @Html.ActionLink("修改", "Edit", new { id=item.F功能評估Id }) 
                @Html.ActionLink("刪除", "Delete","Evaluate", new {  id=item.F功能評估Id },new{onclick = "return confirm('確定要刪除嗎')"})
            </td>
        </tr>
}
    </tbody>
</table>
