@model IEnumerable<prjRehabilitation.ViewModel.CEvaluateViewModle>

@{
    ViewData["Title"] = "DateList";
    var ptid = ViewBag.ptid;
    if (ViewBag.setting != "customer")
    {
        Layout = "AdminLayout";
    };
}

<h1>功能評估紀錄</h1>

<p class="employee">
    <a href="/Evaluate/Create/@ptid">新增</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                序號
            </th>
            <th>
                @Html.DisplayNameFor(model => model.F日期)
            </th> 
            <th>
                @Html.DisplayNameFor(model => model.F問題)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int count = 0;
            foreach (var item in Model) 
            {
                count++;
                <tr id="onlysee">
                <th>
                @count
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.F日期)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.F問題)
                </th>
            <td class="employee">
                @Html.ActionLink("修改", "Edit", new { id=item.F功能評估Id }) 
                @Html.ActionLink("刪除", "Delete","Evaluate", new {  id=item.F功能評估Id },new{onclick = "return confirm('確定要刪除嗎')"})
            </td>
            <td class="customer">
                @Html.ActionLink("檢視", "Edit", new {  id=item.F功能評估Id})
            </td>
        </tr>
     }
   }
    </tbody>
</table>
<p class="employee">
    <a href="/Evaluate/List">回上一頁</a>
</p>
@section Scripts 
{
    <script>
        var set = `@ViewBag.setting`;
        if (set == "customer") 
        {
            $(".employee").hide();
        } else 
        {
            $(".customer").hide();
        };

    </script>
}
