@using prjRehabilitation.ViewModel.Eric
@model CGroupActivityEditViewModel

@{
    ViewData["Title"] = "Edit";
    //DateTime dd = new DateTime(Convert.ToInt32(Model.cgavm.FDate.Split('-')[0]), Convert.ToInt32(Model.cgavm.FDate.Split('-')[1]), Convert.ToInt32(Model.cgavm.FDate.Split('-')[2]));  //只有-才讀的到的血淚史，之前用斜線讀不到還要這樣拆，用-就不用了(其實單引號裡的是/，因為… 很長不打了)
    Layout = "AdminLayout";
}

@section Styles{
    <style>
        .form-control,.form-select,.btn {
            height: auto;
            font-size: inherit;
        }

        .card > .card-body > .row * {
            margin: 2px 0px;
        }

        body, .small, .badge {
            font-size: inherit; /*解開束縛而已*/
        }
    </style>
}


<h1>活動記錄</h1>

<h4>編輯</h4>
<hr />
<div class="row">
    <div class="col">
        <form asp-action="Edit" enctype="multipart/form-data" method="post" name="formData">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" name="cgavm.FGroupActivityId" value=@Model.cgavm.FGroupActivityId />

            <div class="form-group">
                <label asp-for="cgavm.FEventType" class="control-label"></label>
                <select asp-for="cgavm.FEventType" asp-items="@(new SelectList(Model.GroupActivityType))" class="form-control form-select shadow-none  border-top col-md-6"></select>
                <span asp-validation-for="cgavm.FEventType" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label asp-for="cgavm.FDate" class="control-label"></label>
                        <input asp-for="cgavm.FDate" type="date" class="form-control" name="cgavm.FDate" />
                        <span asp-validation-for="cgavm.FDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="cgavm.FStartTime" class="control-label"></label>
                        <input type="time" asp-for="cgavm.FStartTime" class="form-control" />
                        <span asp-validation-for="cgavm.FStartTime" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="cgavm.FEndTime" class="control-label"></label>
                        <input type="time" asp-for="cgavm.FEndTime" class="form-control" />
                        <span asp-validation-for="cgavm.FEndTime" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="cgavm.FGroupName" class="control-label"></label>
                        <input asp-for="cgavm.FGroupName" class="form-control" />
                        <span asp-validation-for="cgavm.FGroupName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="cgavm.FClassName" class="control-label"></label>
                        <input asp-for="cgavm.FClassName" class="form-control" />
                        <span asp-validation-for="cgavm.FClassName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-4">
                    <div class=" form-group p-2" id="EventType" style="border-radius: 10px; background-color:gray;"></div>
                    <i id="classThemeAdd" class="fa fa-plus-circle" style="font-size:24px;color:darkgreen"></i>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="cgavm.FGoal" class="control-label"></label>
                <input asp-for="cgavm.FGoal" class="form-control" />
                <span asp-validation-for="cgavm.FGoal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cgavm.FLocation" class="control-label"></label>
                <input asp-for="cgavm.FLocation" class="form-control" />
                <span asp-validation-for="cgavm.FLocation" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="form-group col-4">
                    <label asp-for="cgavm.FPeopleCount" class="control-label"></label>
                    <input asp-for="cgavm.FPeopleCount" class="form-control" />
                    <span asp-validation-for="cgavm.FPeopleCount" class="text-danger"></span>
                </div>
                <div class="form-group  col-4">
                    <label asp-for="cgavm.FLeader" class="control-label"></label>
                    <input asp-for="cgavm.FLeader" class="form-control" readonly />
                    <span asp-validation-for="cgavm.FLeader" class="text-danger"></span>
                </div>
                <div class="form-group  col-4">
                    <label asp-for="cgavm.FRecorder" class="control-label"></label>
                    <input asp-for="cgavm.FRecorder" class="form-control" readonly />
                    <span asp-validation-for="cgavm.FRecorder" class="text-danger"></span>
                </div>
            </div>
            <label asp-for="cgavm.TScheduleDetails" class="control-label"></label>
            <div class=" mt-3 form-group form-control" id="TScheduleDetails" style=" background-color:gray; "></div>
            <i id="ScheduleDetailAdd" class="fa fa-plus-circle p-2" style="font-size:24px;color:darkgreen;background-color:lightblue;border-bottom-right-radius:15px"></i>
            <div class="form-group">
                <label asp-for="cgavm.FProcess" class="control-label"></label>
                <textarea asp-for="cgavm.FProcess" class="form-control" style="height:250px"></textarea>
                <span asp-validation-for="cgavm.FProcess" class="text-danger"></span>
            </div>
            <div class="row gallery-item p-2" style=" background-color:gray;">
                <div class="col-md-3">

                    <div class="mb-3">
                        <label for="formFile" class="form-label">圖片一</label>
                        <input class="form-control" type="file" accept=".jpg,.gif,.png" id="formFile1" name="FPicture1">
                    </div>
                    <a href="" class="img-pop-up">
                        @if (Model.tgapaf.FPicture1 != null)
                        {
                            var base64 = Convert.ToBase64String(Model.tgapaf.FPicture1);
                            string imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                            <img id="formFile1Pic" name="" src="@imgSrc" style="width:100%" />
                        }
                        else
                        {
                            <img id="formFile1Pic" name="" src="" style="width:100%" />
                        }

                    </a>

                </div>
                <div class="col-md-3">
                    <div class="mb-3">
                        <label for="formFile" class="form-label">圖片二</label>
                        <input class="form-control" type="file" accept=".jpg,.gif,.png" id="formFile2" name="FPicture2">
                    </div>
                    <a href="" class="img-pop-up">
                        @if (Model.tgapaf.FPicture2 != null)
                        {
                            var base64 = Convert.ToBase64String(Model.tgapaf.FPicture2);
                            string imageString = String.Format("data:image/gif;base64,{0}", base64);
                            <img id="formFile2Pic" name="" src="@imageString" style="width:100%" />
                        }
                        else
                        {
                            <img id="formFile2Pic" name="" src="" style="width:100%" />
                        }

                    </a>
                </div>
                <div class="col-md-3">
                    <div class="mb-3">
                        <label for="formFile" class="form-label">圖片三</label>
                        <input class="form-control" type="file" accept=".jpg,.gif,.png" id="formFile3" name="FPicture3">
                    </div>
                    <a href="" class="img-pop-up">
                        @if (Model.tgapaf.FPicture3 != null)
                        {
                            var base64 = Convert.ToBase64String(Model.tgapaf.FPicture3);
                            string stringForImage = String.Format("data:image/gif;base64,{0}", base64);
                            <img id="formFile3Pic" name="" src="@stringForImage" style="width:100%" />
                        }
                        else
                        {
                            <img id="formFile3Pic" name="" src="" style="width:100%" />
                        }

                    </a>
                </div>
                <div class="col-md-3">
                    <div class="mb-3">
                        <label for="formFile" class="form-label">圖片四</label>
                        <input class="form-control" type="file" accept=".jpg,.gif,.png" id="formFile4" name="FPicture4">
                    </div>
                    <a href="" class="img-pop-up">
                        @if (Model.tgapaf.FPicture4 != null)
                        {
                            var base64 = Convert.ToBase64String(Model.tgapaf.FPicture4);
                            string pic4StringforImg = String.Format("data:image/gif;base64,{0}", base64);
                            <img id="formFile4Pic" name="" src="@pic4StringforImg" style="width:100%" />
                        }
                        else
                        {
                            <img id="formFile4Pic" name="" src="" style="width:100%" />
                        }

                    </a>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="cgavm.FAchievement" class="control-label"></label>
                <textarea asp-for="cgavm.FAchievement" class="form-control" style="height:250px"></textarea>
                <span asp-validation-for="cgavm.FAchievement" class="text-danger"></span>
            </div>

            <label asp-for="cgavm.TPersonalPerformances" class="control-label">成員情緒表現</label>
            <div class="row">
                <div class="col-md-2">
                    @*<i id="PerformanceAddPersonal" class="fa fa-plus fa-2x" aria-hidden="true"></i>*@

                    <div id="PersonalListPanel" class=" mt-3 form-group form-control" style=" background-color:gray;"></div>
                </div>
                <div class="col-md-10">
                    <div class=" mt-3 form-group form-control" id="TPersonalPerformances" style=" background-color:gray;"></div>
                </div>
            </div>



            <div class="row">
                <div class="form-group col-sm">
                    <label asp-for="cgavm.FFillFormStaff" class="control-label"></label>
                    <input asp-for="cgavm.FFillFormStaff" class="form-control" readonly />
                    <span asp-validation-for="cgavm.FFillFormStaff" class="text-danger"></span>
                </div>
                <div class="form-group col-sm">
                    <label asp-for="cgavm.FFillFormDate" class="control-label"></label>
                    <input type="date" asp-for="cgavm.FFillFormDate" class="form-control" readonly />
                    <span asp-validation-for="cgavm.FFillFormDate" class="text-danger"></span>
                </div>
                @*        <div class="form-group col-sm-4">
                <label class="control-label"> 修改日期</label>
                <input class="form-control" type="date" value="@DateTime.Today.ToString("yyyy-MM-dd")" disabled="disabled" />

                </div>*@

            </div>
            <br />
            <div class="form-group">
                <input type="submit" id="submitButtonForAjax" value="送出" class="btn btn-primary" />
              
                @Html.ActionLink("刪除", "delete", new {  id=Model.cgavm.FGroupActivityId },new{@class="btn btn-danger white" , style="color:white;"} )
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a asp-action="List" class="btn btn-success" style="color:white;">回列表</a>
</div>

@section Scripts {

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>

        $("#EventType").load("@Url.Content("~/")GroupActivity/ClassThemesPartialView/@Model.cgavm.FGroupActivityId");
        $("#TScheduleDetails").load("@Url.Content("~/")GroupActivity/ScheduleDetailsPartialView/@Model.cgavm.FGroupActivityId");
        $("#TPersonalPerformances").load("@Url.Content("~/")GroupActivity/PersonalPerformancesPartialView/@Model.cgavm.FGroupActivityId");
        
        document.querySelector("#classThemeAdd").addEventListener("click", function () {
            document.querySelector("#EventType").insertAdjacentHTML("beforeend", `

                        <div class="row">
                <div class="col">
                    <select class="mt-2  form-select shadow-none  border-top" id="ClassThemesEach_1_" name="ClassThemesEach[1]">
                    <option selected="selected">衛生習慣  </option>
        <option>居家清潔  </option>
        <option>飲食起居  </option>
        <option>認知能力  </option>
        <option>體能表現  </option>
        <option>人際互動  </option>
        <option>烹飪能力  </option>
        <option>休閒安排  </option>
        <option>財務管理  </option>
        <option>健康促進  </option>
        </select>
                </div>
                <div class="col-2" style="text-align: center;position: relative;   " onclick="this.parentElement.remove()">
                    <i class="fas fa-minus-circle" style="font-size:24px;color:red;position: absolute;top: 50%; left: 50%;-ms-transform: translate(-50%, -50%);transform: translate(-50%, -50%);"></i>
                </div>
            </div>

                    `)
        });

        document.querySelector("#ScheduleDetailAdd").addEventListener("click", function (){
            document.querySelector("#TScheduleDetails").insertAdjacentHTML("beforeend", `

            <ul class="list-group list-group-horizontal-md">
                        <li class="list-group-item"><label>開始時間：</label><input type="time" id="startTime" /></li>
                        <li class="list-group-item"><label>結束時間：</label><input type="time" id="endTime"/></li>
                        <li class="list-group-item"><label>大綱說明：</label><input type="text" id="depiction"/></li>
                <li class="list-group-item" style="border-radius:0px  20px 20px 0px" onclick="this.parentElement.remove()"><i class="fas fa-minus-circle" style="font-size:24px;color:red;position: relative;top: 50%; left: 50%;-ms-transform: translate(-50%, -50%);transform: translate(-50%, -50%);"></i></li>
            </ul>

            `);
        });
        

        for (var i = 1; i <= 4; i++) {

            const getInput = $(`#formFile${i}`);
            const getOutput = $(`#formFile${i}Pic`);

            getInput.change(function () {

                if (this.files && this.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        getOutput.attr('src', e.target.result);

                    }
                    reader.readAsDataURL(this.files[0]);
                }

            });
        }

        //var forTest = Convert.ToBase64String(@Model.tgapaf.FPicture1);
        //if (forTest != null) {
        //    console.log(@Model.tgapaf.FPicture1);
        //    //var getString = Convert.ToBase64String(@Model.tgapaf.FPicture1);
        //    var base64 = String.Format("data:image/gif;base64,{0}", forTest);
        //    $("#formFile1Pic").attr('src', `data:image/gif;base64,${base64}`);
        //}

        //async function savePic (){    //改由submit直接存了

        //    const formDataPic = new FormData(formData);

        //    const response = await fetch("@Url.Content("~/")GroupActivity/PicAndFileSaveIn/@Model.cgavm.FGroupActivityId", {
        //        method:"POST",
        //        body: formDataPic
        //    });

        //}
        //$("#formFile1").change(function () {

        //    //savePic();
        //});

        async function getResidentInPersonalPerformancesSelectPanel() {
            const pplist = document.querySelector('#PersonalListPanel');
            const response = await fetch(`@Url.Content("~/")GroupActivityAjax/getResident`);
            const getResidentData = JSON.parse(await response.text());
            for (let aa of getResidentData) {
                pplist.insertAdjacentHTML("beforeend", `<input type="button" id="${aa.fid}" class="addintoR genric-btn info circle arrow  small mt-1 form-control" value="${aa.fName}">`)
            }

            const alladdintoRQuery = document.querySelectorAll('.addintoR');
            for (let i = 0; i < alladdintoRQuery.length; i++) {
                alladdintoRQuery[i].addEventListener("click", async function () {

                    const response = await fetch(`@Url.Content("~/")GroupActivityAjax/CPersonalPerformancesPartialViewViewModelList`);
                    const getResidentData = JSON.parse(JSON.parse(await response.text()));
                    //console.log(this.id);
                    document.querySelector("#TPersonalPerformances").insertAdjacentHTML("beforeend", `
                                                         <div class="card mt-1">
                                                            <div class="card-body">
                                                                        <div class="row">
                                                                                    <label class="h5 badge bg-primary rounded cardIDandName col" id="${this.id}">${this.value}</label>
                                                                                            <input type="button" id="${this.id}-removeCard" class="btn btn-danger col-1" style="color:white;" value="刪除"/>
                                                                        </div>
                                                                        <div class="row " style="background-color:lightgray">
                                                                    <div class="col-4">
                                                                        <label class="badge bg-success rounded">表情情緒：</label><br />
                                                                                                        <select id="${this.id}-comboxEmotions"  class="forPPdataE form-select shadow-none  border-top"></select>

                                                                    </div>
                                                                    <div class="col-4">
                                                                        <label class="badge bg-success rounded">持續度：</label><br />
                                                                                                <select id="${this.id}-comboxParticipatePersistence"  class="forPPdataP form-select shadow-none  border-top"></select>

                                                                    </div>
                                                                    <div class="col-4">
                                                                        <label class="badge bg-success rounded">配合度：</label><br />
                                                                                                <select id="${this.id}-comboxCooperate"  class="forPPdataC form-select shadow-none  border-top"></select>

                                                                    </div>
                                                                </div>
                                                                    <div class="row " style="background-color:lightgray">
                                                                    <div class="col-4">
                                                                        <label class="badge bg-success rounded">人際互動：</label><br />
                                                                                                <select id="${this.id}-comboxHumanInteraction"  class="forPPdataH form-select shadow-none  border-top"></select>

                                                                    </div>
                                                                    <div class="col-4">
                                                                        <label class="badge bg-success rounded">注意力：</label><br />
                                                                                                <select id="${this.id}-comboxAttentionRes" class="forPPdataA form-select shadow-none  border-top"></select>

                                                                    </div>
                                                                    <div class="col-4">
                                                                        <label class="badge bg-success rounded">參與表現：</label><br />
                                                                                        <select id="${this.id}-comboxParticipatePerformance" class="forPPdataPP form-select shadow-none  border-top"></select>

                                                                    </div>
                                                                </div>
                                                                                <div class="row"><label class="col-auto badge bg-success rounded ">備註：</label><br /><input type="text"  class="forPPdataD" id="${this.id}-Depiction"/></div>
                                                            </div>
                                                        </div>

                                                                    `);
                    const comboxEmotionsID = document.getElementById(`${this.id}-comboxEmotions`);
                    const comboxParticipatePersistenceID = document.getElementById(`${this.id}-comboxParticipatePersistence`);
                    const comboxCooperateID = document.getElementById(`${this.id}-comboxCooperate`);
                    const comboxHumanInteractionID = document.getElementById(`${this.id}-comboxHumanInteraction`);
                    const comboxAttentionResID = document.getElementById(`${this.id}-comboxAttentionRes`);
                    const comboxParticipatePerformanceID = document.getElementById(`${this.id}-comboxParticipatePerformance`);
                    for (var comboxEmotionsItem of getResidentData[0]) {
                        comboxEmotionsID.insertAdjacentHTML("beforeend", `<option>${comboxEmotionsItem}</option>`)
                    }
                    for (var comboxParticipatePersistenceItem of getResidentData[1]) {
                        comboxParticipatePersistenceID.insertAdjacentHTML("beforeend", `<option>${comboxParticipatePersistenceItem}</option>`)
                    }
                    for (var comboxCooperateItem of getResidentData[2]) {
                        comboxCooperateID.insertAdjacentHTML("beforeend", `<option>${comboxCooperateItem}</option>`)
                    }
                    for (var comboxHumanInteractionItem of getResidentData[3]) {
                        comboxHumanInteractionID.insertAdjacentHTML("beforeend", `<option>${comboxHumanInteractionItem}</option>`)
                    }
                    for (var comboxAttentionResItem of getResidentData[4]) {
                        comboxAttentionResID.insertAdjacentHTML("beforeend", `<option>${comboxAttentionResItem}</option>`)
                    }
                    for (var comboxParticipatePerformanceItem of getResidentData[5]) {
                        comboxParticipatePerformanceID.insertAdjacentHTML("beforeend", `<option>${comboxParticipatePerformanceItem}</option>`)
                    }

                    document.getElementById(`${this.id}-removeCard`).addEventListener("click", function () {
                        this.parentElement.parentElement.parentElement.remove();
                    })

                });
            }
        }
        getResidentInPersonalPerformancesSelectPanel();//叫出所有人列表

        //開始抓板內然後巡迴出內容(有三種)

        var getButtonAjax = document.querySelector("#submitButtonForAjax");
        getButtonAjax.addEventListener("click", getParticipatePerformances);    //先把沙b密的按鈕綁好
        getButtonAjax.addEventListener("click", getScheduleDetails);
        getButtonAjax.addEventListener("click", getClassThemes);

        //getButtonAjax.addEventListener("click",editCantSubmit);

        var groupActivityID = @Html.Raw(Json.Serialize(@Model.cgavm.FGroupActivityId));

        async function getParticipatePerformances() {
            var ppPanel = document.querySelector("#TPersonalPerformances");
            var ppData = ppPanel.querySelectorAll(".card");


            var fetchList = [];


            for (var pp of ppData) {

                fetchList.push({
                    groupActivityID: `${groupActivityID}`,
                    ResidentId: `${pp.querySelector(".cardIDandName").id}`,
                    Emotions: `${pp.querySelector(".forPPdataE").value}`,
                    ParticipatePersistence: `${pp.querySelector(".forPPdataP").value}`,
                    Cooperate: `${pp.querySelector(".forPPdataC").value}`,
                    HumanInteraction: `${pp.querySelector(".forPPdataH").value}`,
                    AttentionRes: `${pp.querySelector(".forPPdataA").value}`,
                    ParticipatePerformance: `${pp.querySelector(".forPPdataPP").value}`,
                    Depiction: `${pp.querySelector(".forPPdataD").value}`
                });
            }

            //console.log(fetchArray);

            const goAjax = await fetch(`@Url.Content("~/")GroupActivityAjax/PersonalPerformancesEditAjax`, {
                method: "post",
                headers: { 'Content-type': 'application/json' },
                body: JSON.stringify(fetchList)
            });
            //console.log(await goAjax.text());
             //window.location.href = `@Url.Content("~/")GroupActivity/List`
        }


        async function getScheduleDetails() {
            var ScheduleDetailPanel = document.querySelector("#TScheduleDetails");
            var ScheduleDetailInPanel = ScheduleDetailPanel.querySelectorAll("ul");
            var ScheduleDetails = [];

            for (var item of ScheduleDetailInPanel){
                ScheduleDetails.push({
                    FGroupActivityId: `${groupActivityID}`,
                    FStartTime: `${item.querySelector("#startTime").value}`,
                    FEndTime: `${item.querySelector("#endTime").value}`,
                    FDepiction: `${item.querySelector("#depiction").value}`
                });
            }

            await fetch(`@Url.Content("~/")GroupActivityAjax/ScheduleDetailPanelAjax`, {
                method:"post",
                headers: { 'Content-type': 'application/json' },
                body: JSON.stringify(ScheduleDetails)
            })


        }



        async function getClassThemes() {
            var eventTypePanel = document.querySelector("#EventType");
            var eventTypesInPanel = eventTypePanel.querySelectorAll("select");
            var classThemes = [];

            for (var item of eventTypesInPanel) {
                classThemes.push({
                    FGroupActivityId: `${groupActivityID}`,
                    FClassThemeId: `${item.selectedIndex + 1}`
                });
            }

            await fetch(`@Url.Content("~/")GroupActivityAjax/ClassThemeAjax`, {
                method: "post",
                headers: { 'Content-type': 'application/json' },
                body: JSON.stringify(classThemes)
            });

        }


        //async function editCantSubmit(){
        //    const getEditResult = await fetch(`@Url.Content("~/")GroupActivity/Edit`, {
        //        method:"post",
        //        body: new FormData(formData)
        //    })

           
        //}

    </script>

}

