@model prjRehabilitation.ViewModel.Eric.CPersonalPerformancesPartialViewViewModel

@{
  

}


@for (int i = 0; i < Model.tpp.Length; i++)
{
    string name = Model.ResidentName.FirstOrDefault(_ => _.Split(",")[0] == Model.tpp[i].FResidentId.ToString()).Split(",")[1];

    <div class="card mt-1">
        <div class="card-body" >
            <div class="row">
                <label class="h5 badge bg-primary rounded cardIDandName col" id="@Model.tpp[i].FResidentId" >@name</label>
                <input type="button" id="@Model.tpp[i].FResidentId-removeCard" class="btn btn-danger col-1" value="刪除" style="color:white;" onclick="this.parentElement.parentElement.parentElement.remove()" />
            </div>
            <div class="row " style="background-color:lightgray">
                <div class="col-4"><label class="badge bg-success rounded">表情情緒：</label><br />
                    <select asp-for="tpp[i].FEmotions" asp-items="@(new SelectList(Model.comboxEmotions))" id="@Model.tpp[i].FResidentId-comboxEmotions" class="forPPdataE form-select shadow-none  border-top"></select>
                   
                    </div>
                <div class="col-4"><label class="badge bg-success rounded">持續度：</label><br />
                    <select asp-for="tpp[i].FParticipatePersistence" asp-items="@(new SelectList(Model.comboxParticipatePersistence))" id="@Model.tpp[i].FResidentId-comboxParticipatePersistence" class="forPPdataP form-select shadow-none  border-top"></select>
                 
                    </div>
                <div class="col-4"><label class="badge bg-success rounded">配合度：</label><br />
                    <select asp-for="tpp[i].FCooperate" asp-items="@(new SelectList(Model.comboxCooperate))" id="@Model.tpp[i].FResidentId-comboxCooperate" class="forPPdataC form-select shadow-none  border-top"></select>
                    
                    </div>
            </div>
            <div class="row"style="background-color:lightgray">
                <div class="col-4"><label class="badge bg-success rounded">人際互動：</label><br />
                    <select asp-for="tpp[i].FHumanInteraction" asp-items="@(new SelectList(Model.comboxHumanInteraction))" id="@Model.tpp[i].FResidentId-comboxHumanInteraction" class="forPPdataH form-select shadow-none  border-top"></select>
                    
                    </div>
                <div class="col-4"><label class="badge bg-success rounded">注意力：</label><br />
                    <select asp-for="tpp[i].FAttention" asp-items="@(new SelectList(Model.comboxAttentionRes))" id="@Model.tpp[i].FResidentId-comboxAttentionRes" class="forPPdataA form-select shadow-none  border-top"></select>
                    
                    </div>
                <div class="col-4"><label class="badge bg-success rounded">參與表現：</label><br />
                    <select asp-for="tpp[i].FParticipatePerformance" asp-items="@(new SelectList(Model.comboxParticipatePerformance))" id="@Model.tpp[i].FResidentId-comboxParticipatePerformance" class="forPPdataPP form-select shadow-none  border-top"></select>
                   
                    </div>
            </div>
            <div class="row"><label class="col-auto badge bg-success rounded ">備註：</label><br /><input type="text" asp-for="tpp[i].FDepiction" class="forPPdataD" id="@Model.tpp[i].FResidentId-Depiction" /></div>
        </div>
    </div>
}
