@model IEnumerable<prjRehabilitation.ViewModel.CConsultationViewModel>

@{
    ViewData["Title"] = "DateList";
    var cc = Model.Where(x => x.PatinetId != null).FirstOrDefault(x => x.PatinetId != null)?.PatinetId;
    var ptid = ViewBag.ptid;
}

<h1>@ViewBag.name 會談紀錄</h1>

<p>
    <a href="/Consult/Create/@ptid">新增會談紀錄</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                序號
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Summary)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int count = 0;
            foreach (var item in Model)
            {
                count++;
                <tr>
                <td>
                    @count
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Summary)
                </td>

                <td>
                    @Html.ActionLink("編輯", "Edit", new {  id=item.FConsultId}) |
                        @Html.ActionLink("刪除", "Delete","Consult", new {  id=item.FConsultId },new{onclick = "return confirm('確定要刪除嗎')"})
                </td>
            </tr>
            }
        }
    </tbody>
</table>
