@model IEnumerable<prjRehabilitation.ViewModel.CConsultationViewModel>

@{
    ViewData["Title"] = "DateList";
    var cc = Model.Where(x => x.PatinetId != null).FirstOrDefault(x => x.PatinetId != null)?.PatinetId;
    var ptid = ViewBag.ptid;

    Layout = "_Layout";

}

<h1>@ViewBag.name 會談紀錄</h1>
<div style="height:400px">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>
                    序號
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Summary)
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @{
                int count = 0;
                foreach (var item in Model)
                {
                    count++;
                    <tr id="onlysee">
                        <td>
                            @count
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Summary)
                        </td>
                        <td class="customer">
                            @Html.ActionLink("檢視", "viewCustomer", new {  id=item.FConsultId})
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script>


    </script>
}